<div class="h3 text-center my-3"><img src="/assets/img/cups/copa_facup_negra.png" style="height: 40px; vertical-align: bottom; margin-right: 10px;"> FO CUP</div>
<hr>
<!-- <div class="text-center"><i class="fas fa-diagnoses"></i> Sorteo: <span id="countdown-draw-FOCup"></span></div>
<div class="text-center"><i class="far fa-clock"></i> Inicio: <span id="countdown-FOCup"></span></div> -->
<div class="text-center my-3">
  <div class="h4">CAMPEÓN 2018-2019</div>
  <a href="/views/profile.html?id=4"><img src="/assets/img/shields/150/diego.png" class="foto" alt="Orgullo de Runner"> <h3>Orgullo de Runner</h3></a>
</div>
<div class="mx-1 text-center my-2"><i class="fas fa-exclamation-circle"></i> NOTA: El sorteo se realizará la noche del Viernes 28, una vez comenzada la Jornada 7</div>
  
<!-- CRUCES -->
<div class="text-center"><img id="cruces-focup" class="cruces-img" src="/assets/img/cruces_focup.png" alt=""></div>

<!-- RESULTADOS -->
<div class="h4 text-center mt-3">RESULTADOS</div>

<!-- TABS -->
<ul class="nav nav-tabs nav-fill my-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="tab-A" data-toggle="tab" href="#A" role="tab" aria-controls="A" aria-selected="true">
      <span><i class="fas fa-table"></i></span>
      <span class="d-none d-md-inline"> DIECISEISAVOS</span>
      <span class="d-sm-inline d-md-none"> 16º</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab-B" data-toggle="tab" href="#B" role="tab" aria-controls="B" aria-selected="true">
      <span><i class="fas fa-table"></i></span>
      <span class="d-none d-md-inline"> OCTAVOS</span>
      <span class="d-sm-inline d-md-none"> 8º</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab-C" data-toggle="tab" href="#C" role="tab" aria-controls="C" aria-selected="true">
      <span><i class="fas fa-table"></i></span>
      <span class="d-none d-md-inline"> CUARTOS</span>
      <span class="d-sm-inline d-md-none"> 4º</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab-D" data-toggle="tab" href="#D" role="tab" aria-controls="D" aria-selected="true">
      <span><i class="fas fa-table"></i></span>
      <span class="d-none d-md-inline"> SEMIFINALES</span>
      <span class="d-sm-inline d-md-none"> SE</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="tab-E" data-toggle="tab" href="#E" role="tab" aria-controls="E" aria-selected="true">
      <span><i class="fas fa-table"></i></span>
      <span class="d-none d-md-inline"> FINAL</span>
      <span class="d-sm-inline d-md-none"> FI</span>
    </a>
  </li>
</ul>

<!-- RONDAS -->
<div class="container tab-content mb-5" id="myTabContent">
  <!-- DIECISEISAVOS -->
  <div class="tab-pane fade" id="A" role="tabpanel" aria-labelledby="tab-A">
    <table class="table cup-table">
      <tr>
        <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 07/10/2018 - VUELTA: 21/10/2018</th>
      </tr>
      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=26"><img src="/assets/img/shields/150/zea.png" class="table-shield" alt="Zea 1+8 FC"> <div>Zea 1+8 FC</div></a></td>
        <td class="text-center resultado"><br>-</td>
        <td class="text-center resultado"><br>-</td>
        <td class="text-center resultado"><br>-</td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light">( Exento )</td>
        <td class="text-center resultado"><br>-</td>
        <td class="text-center resultado"><br>-</td>
        <td class="text-center resultado"><br>-</td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=18"><img src="/assets/img/shields/150/dani_negro.png" class="table-shield" alt="Racing de Santander"> <div>Racing de Santander</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">55</div><small class="cup-difference">(-7)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">37</div><small class="cup-difference">(-41)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">92</div><small class="cup-difference">(-48)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=1"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">62</div><small class="cup-difference">(+7)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">78</div><small class="cup-difference">(+41)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">140</div><small class="cup-difference">(+48)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=6"><img src="/assets/img/shields/150/adolfo.png" class="table-shield" alt="Galizano 18-19"> <div>Galizano 18-19</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">50</div><small class="cup-difference">(-13)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">61</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">111</div><small class="cup-difference">(-24)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=16"><img src="/assets/img/shields/150/javi_bsh.png" class="table-shield" alt="Sito Miñanco"> <div>Sito Miñanco</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">63</div><small class="cup-difference">(+13)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">72</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">135</div><small class="cup-difference">(+24)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=0"><img src="/assets/img/shields/150/jc.png" class="table-shield" alt="Frente Popular"> <div>Frente Popular</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+3)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">86</div><small class="cup-difference">(+40)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">153</div><small class="cup-difference">(+43)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=9"><img src="/assets/img/shields/150/luis.png" class="table-shield" alt="Porrua City"> <div>Porrua City</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">64</div><small class="cup-difference">(-3)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">46</div><small class="cup-difference">(-40)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">110</div><small class="cup-difference">(-43)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=19"><img src="/assets/img/shields/150/vicente.png" class="table-shield" alt="Wayne team"> <div>Wayne team</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">66</div><small class="cup-difference">(-5)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">31</div><small class="cup-difference">(-41)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">97</div><small class="cup-difference">(-46)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=20"><img src="/assets/img/shields/150/serious.png" class="table-shield" alt="Meneillos"> <div>Meneillos</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">71</div><small class="cup-difference">(+5)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">72</div><small class="cup-difference">(+41)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">143</div><small class="cup-difference">(+46)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=10"><img src="/assets/img/shields/150/raul.png" class="table-shield" alt="Dojo Cobra KAI"> <div>Dojo Cobra KAI</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">61</div><small class="cup-difference">(+15)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">69</div><small class="cup-difference">(+17)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">130</div><small class="cup-difference">(+32)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=22"><img src="/assets/img/shields/150/felipe.png" class="table-shield" alt="Old Tikis"> <div>Old Tikis</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">46</div><small class="cup-difference">(-15)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">52</div><small class="cup-difference">(-17)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">98</div><small class="cup-difference">(-32)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=4"><img src="/assets/img/shields/150/diego.png" class="table-shield" alt="Orgullo de Runner"> <div>Orgullo de Runner</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">83</div><small class="cup-difference">(+33)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+23)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">150</div><small class="cup-difference">(+56)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=13"><img src="/assets/img/shields/150/nandelas.png" class="table-shield" alt="Infican Viajes"> <div>Infican Viajes</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">50</div><small class="cup-difference">(-33)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">44</div><small class="cup-difference">(-23)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">94</div><small class="cup-difference">(-56)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=17"><img src="/assets/img/shields/150/ines.png" class="table-shield" alt="Capitán Tsubasa"> <div>Capitán Tsubasa</div></a></td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light">( Exento )</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=25"><img src="/assets/img/shields/150/carlos_julio.png" class="table-shield" alt="Cabimas FC"> <div>Cabimas FC</div></a></td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light">( Exento )</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=5"><img src="/assets/img/shields/150/juanan.png" class="table-shield" alt="Balompédica Porrua"> <div>Balompédica Porrua</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">75</div><small class="cup-difference">(+27)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+16)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">142</div><small class="cup-difference">(+43)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=23"><img src="/assets/img/shields/150/borja.png" class="table-shield" alt="Asturgijón"> <div>Asturgijón</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">48</div><small class="cup-difference">(-27)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">51</div><small class="cup-difference">(-16)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">99</div><small class="cup-difference">(-43)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=2"><img src="/assets/img/shields/150/borja_ramos.png" class="table-shield" alt="Bierzo Power"> <div>Bierzo Power</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">50</div><small class="cup-difference">(-7)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">70</div><small class="cup-difference">(+9)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">120</div><small class="cup-difference">(+2)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=24"><img src="/assets/img/shields/150/pablo_fernandez.png" class="table-shield" alt="Lábaro FC"> <div>Lábaro FC</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">57</div><small class="cup-difference">(+7)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">61</div><small class="cup-difference">(-9)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">118</div><small class="cup-difference">(-2)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=15"><img src="/assets/img/shields/150/paloma.png" class="table-shield" alt="Super Palomba"> <div>Super Palomba</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">56</div><small class="cup-difference">(+12)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">88</div><small class="cup-difference">(+53)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">144</div><small class="cup-difference">(+65)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=14"><img src="/assets/img/shields/150/mario.png" class="table-shield" alt="Mario 13-14"> <div>Mario 13-14</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">44</div><small class="cup-difference">(-12)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">35</div><small class="cup-difference">(-53)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">79</div><small class="cup-difference">(-65)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=11"><img src="/assets/img/shields/150/ekaitz.png" class="table-shield" alt="Yellow Storm F.C."> <div>Yellow Storm F.C.</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">76</div><small class="cup-difference">(-2)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">83</div><small class="cup-difference">(+35)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">159</div><small class="cup-difference">(+33)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=12"><img src="/assets/img/shields/150/ortega.png" class="table-shield" alt="David Valcan"> <div>David Valcan</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">78</div><small class="cup-difference">(+2)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">48</div><small class="cup-difference">(-35)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">126</div><small class="cup-difference">(-33)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=3"><img src="/assets/img/shields/150/che.png" class="table-shield" alt="Amunt Che"> <div>Amunt Che</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">71</div><small class="cup-difference">(+4)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">59</div><small class="cup-difference">(+25)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">130</div><small class="cup-difference">(+29)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=7"><img src="/assets/img/shields/150/will.png" class="table-shield" alt="Williessous"> <div>Williessous</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">67</div><small class="cup-difference">(-4)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">34</div><small class="cup-difference">(-25)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">101</div><small class="cup-difference">(-29)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=27"><img src="/assets/img/shields/150/daniel_gonzalez.png" class="table-shield" alt="Caracas FC"> <div>Caracas FC</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">46</div><small class="cup-difference">(-13)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">56</div><small class="cup-difference">(+23)</small></td>
        <td class="text-center text-white bg-success resultado"><div class="cup-score">102</div><small class="cup-difference">(+10)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=21"><img src="/assets/img/shields/150/david_munoz.png" class="table-shield" alt="New tikis"> <div>New tikis</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">59</div><small class="cup-difference">(+13)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">33</div><small class="cup-difference">(-23)</small></td>
        <td class="text-center text-white bg-danger resultado"><div class="cup-score">92</div><small class="cup-difference">(-10)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=8"><img src="/assets/img/shields/150/ovidiu.png" class="table-shield" alt="Ovi Dan"> <div>Ovi Dan</div></a></td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light">( Exento )</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
        <td class="text-center resultado">-</td>
      </tr>
    </table>
  </div>

  <!-- OCTAVOS -->
  <div class="tab-pane fade" id="B" role="tabpanel" aria-labelledby="tab-B">
    <!-- Resultados -->
    <table class="table cup-table">
      <tr>
        <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 28/10/2018 - VUELTA: 04/11/2018</th>
      </tr>
      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=26"><img src="/assets/img/shields/150/zea.png" class="table-shield" alt="Zea 1+8 FC"> <div>Zea 1+8 FC</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">105</div><small class="cup-difference">(+22)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">29</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">134</div><small class="cup-difference">(+11)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=1"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">83</div><small class="cup-difference">(-22)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">40</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">123</div><small class="cup-difference">(-11)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=16"><img src="/assets/img/shields/150/javi_bsh.png" class="table-shield" alt="Sito Miñanco"> <div>Sito Miñanco</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">84</div><small class="cup-difference">(+7)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">56</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">140</div><small class="cup-difference">(-4)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=0"><img src="/assets/img/shields/150/jc.png" class="table-shield" alt="Frente Popular"> <div>Frente Popular</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">77</div><small class="cup-difference">(-7)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">144</div><small class="cup-difference">(+4)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=20"><img src="/assets/img/shields/150/serious.png" class="table-shield" alt="Meneillos"> <div>Meneillos</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">102</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">46</div><small class="cup-difference">(-6)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">148</div><small class="cup-difference">(+5)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=10"><img src="/assets/img/shields/150/raul.png" class="table-shield" alt="Dojo Cobra KAI"> <div>Dojo Cobra KAI</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">91</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">52</div><small class="cup-difference">(+6)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">143</div><small class="cup-difference">(-5)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=4"><img src="/assets/img/shields/150/diego.png" class="table-shield" alt="Orgullo de Runner"> <div>Orgullo de Runner</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">85</div><small class="cup-difference">(-7)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+16)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">152</div><small class="cup-difference">(+9)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=17"><img src="/assets/img/shields/150/ines.png" class="table-shield" alt="Capitán Tsubasa"> <div>Capitán Tsubasa</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">92</div><small class="cup-difference">(+7)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">51</div><small class="cup-difference">(-16)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">143</div><small class="cup-difference">(-9)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=25"><img src="/assets/img/shields/150/carlos_julio.png" class="table-shield" alt="Cabimas FC"> <div>Cabimas FC</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">94</div><small class="cup-difference">(+24)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">49</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">143</div><small class="cup-difference">(+13)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=5"><img src="/assets/img/shields/150/juanan.png" class="table-shield" alt="Balompédica Porrua"> <div>Balompédica Porrua</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">70</div><small class="cup-difference">(-24)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">60</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">130</div><small class="cup-difference">(-13)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=2"><img src="/assets/img/shields/150/borja_ramos.png" class="table-shield" alt="Bierzo Power"> <div>Bierzo Power</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">105</div><small class="cup-difference">(+25)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">56</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">161</div><small class="cup-difference">(+36)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=15"><img src="/assets/img/shields/150/paloma.png" class="table-shield" alt="Super Palomba"> <div>Super Palomba</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">80</div><small class="cup-difference">(-25)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">45</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">125</div><small class="cup-difference">(-36)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=11"><img src="/assets/img/shields/150/ekaitz.png" class="table-shield" alt="Yellow Storm F.C."> <div>Yellow Storm F.C.</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">66</div><small class="cup-difference">(-30)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">65</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">131</div><small class="cup-difference">(-19)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=3"><img src="/assets/img/shields/150/che.png" class="table-shield" alt="Amunt Che"> <div>Amunt Che</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">96</div><small class="cup-difference">(+30)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">54</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">150</div><small class="cup-difference">(+19)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=27"><img src="/assets/img/shields/150/daniel_gonzalez.png" class="table-shield" alt="Caracas FC"> <div>Caracas FC</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">66</div><small class="cup-difference">(+8)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">48</div><small class="cup-difference">(-11)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">114</div><small class="cup-difference">(-3)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=8"><img src="/assets/img/shields/150/ovidiu.png" class="table-shield" alt="Ovi Dan"> <div>Ovi Dan</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">58</div><small class="cup-difference">(-8)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">59</div><small class="cup-difference">(+11)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">117</div><small class="cup-difference">(+3)</small></td>
      </tr>
    </table>
  </div>

  <!-- CUARTOS -->
  <div class="tab-pane fade" id="C" role="tabpanel" aria-labelledby="tab-C">
    <!-- Resultados -->
    <table class="table cup-table">
      <tr>
        <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 11/11/2018 - VUELTA: 25/11/2018</th>
      </tr>
      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=26"><img src="/assets/img/shields/150/zea.png" class="table-shield" alt="Zea 1+8 FC"> <div>Zea 1+8 FC</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">69</div><small class="cup-difference">(-2)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">47</div><small class="cup-difference">(-16)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">116</div><small class="cup-difference">(-18)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=0"><img src="/assets/img/shields/150/jc.png" class="table-shield" alt="Frente Popular"> <div>Frente Popular</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">71</div><small class="cup-difference">(+2)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">63</div><small class="cup-difference">(+16)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">134</div><small class="cup-difference">(+18)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=20"><img src="/assets/img/shields/150/serious.png" class="table-shield" alt="Meneillos"> <div>Meneillos</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">60</div><small class="cup-difference">(-10)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">31</div><small class="cup-difference">(-25)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">91</div><small class="cup-difference">(-35)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=4"><img src="/assets/img/shields/150/diego.png" class="table-shield" alt="Orgullo de Runner"> <div>Orgullo de Runner</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">70</div><small class="cup-difference">(+10)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">56</div><small class="cup-difference">(+25)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">126</div><small class="cup-difference">(+35)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=25"><img src="/assets/img/shields/150/carlos_julio.png" class="table-shield" alt="Cabimas FC"> <div>Cabimas FC</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+10)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">28</div><small class="cup-difference">(-18)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">95</div><small class="cup-difference">(-8)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=2"><img src="/assets/img/shields/150/borja_ramos.png" class="table-shield" alt="Bierzo Power"> <div>Bierzo Power</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">57</div><small class="cup-difference">(-10)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">46</div><small class="cup-difference">(+18)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">103</div><small class="cup-difference">(+8)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=3"><img src="/assets/img/shields/150/che.png" class="table-shield" alt="Amunt Che"> <div>Amunt Che</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">60</div><small class="cup-difference">(-16)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">44</div><small class="cup-difference">(+2)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">104</div><small class="cup-difference">(-14)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=8"><img src="/assets/img/shields/150/ovidiu.png" class="table-shield" alt="Ovi Dan"> <div>Ovi Dan</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">76</div><small class="cup-difference">(+16)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">42</div><small class="cup-difference">(-2)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">118</div><small class="cup-difference">(+14)</small></td>
      </tr>
    </table>
  </div>

  <!-- SEMIS -->
  <div class="tab-pane fade" id="D" role="tabpanel" aria-labelledby="tab-D">
    <!-- Resultados -->
    <table class="table cup-table">
      <tr>
        <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 02/12/2018 - VUELTA: 09/12/2018</th>
      </tr>
      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=0"><img src="/assets/img/shields/150/jc.png" class="table-shield" alt="Frente Popular"> <div>Frente Popular</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">63</div><small class="cup-difference">(-2)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">76</div><small class="cup-difference">(-8)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">139</div><small class="cup-difference">(-10)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=4"><img src="/assets/img/shields/150/diego.png" class="table-shield" alt="Orgullo de Runner"> <div>Orgullo de Runner</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">65</div><small class="cup-difference">(+2)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">84</div><small class="cup-difference">(+8)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">149</div><small class="cup-difference">(+10)</small></td>
      </tr>

      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=2"><img src="/assets/img/shields/150/borja_ramos.png" class="table-shield" alt="Bierzo Power"> <div>Bierzo Power</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">41</div><small class="cup-difference">(-21)</small></td>
        <td class="text-center resultado"><div class="cup-score">58</div><small class="cup-difference">(+0)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">99</div><small class="cup-difference">(-21)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo"><a href="/views/profile.html?id=8"><img src="/assets/img/shields/150/ovidiu.png" class="table-shield" alt="Ovi Dan"> <div>Ovi Dan</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">62</div><small class="cup-difference">(+21)</small></td>
        <td class="text-center resultado"><div class="cup-score">58</div><small class="cup-difference">(+0)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">120</div><small class="cup-difference">(+21)</small></td>
      </tr>
    </table>
  </div>

  <!-- FINAL -->
  <div class="tab-pane fade show active" id="E" role="tabpanel" aria-labelledby="tab-E">
    <!-- Resultados -->
    <table class="table cup-table">
      <tr>
        <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 16/12/2018 - VUELTA: 22/12/2018</th>
      </tr>
      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=4"><img src="/assets/img/shields/150/diego.png" class="table-shield" alt="Orgullo de Runner"> <div>Orgullo de Runner</div></a></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">94</div><small class="cup-difference">(+13)</small></td>
        <td class="text-center resultado cup-win-pre"><div class="cup-score">53</div><small class="cup-difference">(+5)</small></td>
        <td class="text-center resultado bg-success"><div class="cup-score">147</div><small class="cup-difference">(+18)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a href="/views/profile.html?id=8"><img src="/assets/img/shields/150/ovidiu.png" class="table-shield" alt="Ovi Dan"> <div>Ovi Dan</div></a></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">81</div><small class="cup-difference">(-13)</small></td>
        <td class="text-center resultado cup-lose-pre"><div class="cup-score">48</div><small class="cup-difference">(-5)</small></td>
        <td class="text-center resultado bg-danger text-white"><div class="cup-score">129</div><small class="cup-difference">(-18)</small></td>
      </tr>
    </table>
  </div>

</div>