<div class="h5 text-center my-3">
  <img src="/assets/img/cups/champions.png" style="height: 40px; vertical-align: bottom; margin-right: 10px;"> 
  <span>CHAMPIONS LEAGUE</span></div>
<hr>

<div class="text-center mb-2" *ngIf="championsCountdowns[0].distance > 0"><i class="fas fa-diagnoses"></i> Sorteo: <span id="countdown-draw-Champions">0d 0h 0m 0s</span></div>
<div class="text-center mb-2" *ngIf="championsCountdowns[1].distance > 0"><i class="far fa-clock"></i> Inicio: <span id="countdown-Champions">0d 0h 0m 0s</span></div>
<!-- <div class="text-center mb-2"><a href="https://www.youtube.com/watch?v=75YBsqOKHBg" target="_blank"><i class="fab fa-youtube" style="color: #FF0001;"></i> VER EL SORTEO 2018-2019!!!</a></div> -->

<!-- CABECERA -->
<div class="text-center my-3">
  <!-- <div class="mx-1 text-center my-2"><i class="fas fa-exclamation-circle"></i> NOTA: El sorteo se realizará la noche del Viernes 28, una vez comenzada la Jornada 7</div> -->
  <!-- <div class="h4">CAMPEÓN 2019-2020</div>
  <a [routerLink]="['/profile', 3]"><img src="/assets/img/shields/150/luis.png" class="foto" alt="Porrua City"> <h3>Porrua City</h3></a> -->
</div>

<!-- BOMBOS y CRUCES -->
<!-- <div class="text-center"><img src="/assets/img/competitions/banner_champions_league.jpg" alt="Champions Logo" style="max-width: 90%;"></div> -->
<!-- <div class="text-center"><img class="cruces-img" src="/assets/img/competitions/champions_bombos.jpg" alt="Bombos de Champions"></div> -->
<!-- <div class="text-center"><img class="cruces-img" src="/assets/img/competitions/champions_grupos.jpg" alt="Grupos de Champions"></div> -->
<div class="text-center"><img class="cruces-img mt-3" src="/assets/img/competitions/champions_cruces.jpg" alt="Cruces de Champions"></div>


<!-- <div class="d-none"> -->

<!-- RESULTADOS -->
<div class="h4 text-center mt-3">RESULTADOS</div>

<!-- TABS -->
<ul class="nav nav-tabs nav-fill my-3" id="ChampionsFasesTab" role="tablist">
  <!-- <li class="nav-item">
    <a class="nav-link" id="tab-fase-A" data-toggle="tab" href="#fase-A" role="tab" aria-controls="fase-A" aria-selected="true">
      <span><i class="fas fa-expand-arrows-alt"></i></span>
      <span class="d-none d-md-inline"> PREVIA</span>
      <span class="d-sm-inline d-md-none"> PREVIA</span>
    </a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" id="tab-fase-B" data-toggle="tab" href="#fase-B" role="tab" aria-controls="fase-B" aria-selected="true">
      <span><i class="fas fa-table"></i></span>
      <span class="d-none d-md-inline"> GRUPOS</span>
      <span class="d-sm-inline d-md-none"> GRUPOS</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="tab-fase-C" data-toggle="tab" href="#fase-C" role="tab" aria-controls="fase-C" aria-selected="true">
      <span><i class="fas fa-expand-arrows-alt"></i></span>
      <span class="d-none d-md-inline"> CRUCES</span>
      <span class="d-sm-inline d-md-none"> CRUCES</span>
    </a>
  </li>
</ul>

<!-- RONDAS -->
<div class="tab-content mb-5" id="ChampionsFasesTabContent">

  <!-- RONDA PREVIA -->
  <!-- <div class="container tab-pane fade" id="fase-A" role="tabpanel" aria-labelledby="fase-A">
    <div class="h5 text-center mt-3">RONDA PREVIA</div>
    <table class="table cup-table">
      <tr>
        <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 05/01/2020 - VUELTA: 19/01/2020</th>
      </tr>
      <tr>
        <th>EQUIPO</th>
        <th class="text-center"><span class="homeaway-result">IDA</span></th>
        <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
        <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
        <td class="text-center resultado"><div class="cup-score">0</div><small class="cup-difference">(+0)</small></td>
        <td class="text-center resultado"><div class="cup-score">0</div><small class="cup-difference">(+0)</small></td>
        <td class="text-center resultado"><div class="cup-score">0</div><small class="cup-difference">(+0)</small></td>
      </tr>
      <tr class="fila fila-impar">
        <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
        <td class="text-center resultado"><div class="cup-score">0</div><small class="cup-difference">(+0)</small></td>
        <td class="text-center resultado"><div class="cup-score">0</div><small class="cup-difference">(+0)</small></td>
        <td class="text-center resultado"><div class="cup-score">0</div><small class="cup-difference">(+0)</small></td>
      </tr>

    </table>
  </div> -->

  <!-- FASE GRUPOS -->
  <div class="container tab-pane fade" id="fase-B" role="tabpanel" aria-labelledby="fase-B">
    <div class="h5 text-center mt-3">GRUPOS</div>

    <div *ngIf="championsGroups.length === 0">
      <div class="h4 mb-3">AÚN NO HAY GRUPOS</div>
    </div>
    <div *ngIf="championsGroups.length > 0">
      <!-- Tabs Grupos -->
      <ul class="nav nav-tabs nav-fill my-3" id="ChampionsTab" role="tablist">
        <li class="nav-item" *ngFor="let group of championsGroups; let i = index;">
          <a class="nav-link" [ngClass]="(i === 0) ? 'active' : ''" id="tab-{{ group.name }}" data-toggle="tab" href="#{{ group.name }}" role="tab">
            <span><i class="fas fa-table"></i></span>
            <span class="d-none d-md-inline"> GRUPO {{ group.name }} </span>
            <span class="d-sm-inline d-md-none"> {{ group.name }}</span>
          </a>
        </li>
      </ul>
      <p class="container mt-2 px-0 text-center"><small><i class="fas fa-exclamation-circle"></i> Clasifican los 2 primeros equipos de cada grupo</small></p>

      <!-- Grupos -->
      <div class="tab-content mb-5" id="ChampionsTabContent">
        <!-- GRUPO -->
        <div class="container tab-pane fade" [ngClass]="(i === 0) ? 'show active' : ''" *ngFor="let group of championsGroups; let i = index;" id="{{ group.name }}" role="tabpanel">
          <div class="h6 text-center">GRUPO {{ group.name }}</div>
          <!-- Clasificación -->
          <table class="table">
            <thead>
              <tr>
                <th><abbr title="Posicion">Pos</abbr></th>
                <th><span style="color: #FFF;">____________</span>Equipo<span style="color: #FFF;">____________</span></th>
                <th><abbr title="Puntos">Ptos</abbr></th>
                <th><abbr title="Partidos Jugados">PJ</abbr></th>
                <th><abbr title="Partidos Ganados">PG</abbr></th>
                <th><abbr title="Partidos Empatados">PE</abbr></th>
                <th><abbr title="Partidos Perdidos">PP</abbr></th>
                <th><abbr title="Puntos a favor">PF</abbr></th>
                <th><abbr title="Puntos en contra">PC</abbr></th>
                <th><abbr title="Diferencia de puntos">Dif</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr [ngClass]="{'clasified': table_i <= 1, 'eliminated': table_i > 1}" *ngFor="let table_team of championsTables[group.name]['table']; let table_i = index;">
                <td>{{ table_i + 1 }}</td>
                <td class="text-left"><a [routerLink]="['/profile', table_team.id]"><img src="/assets/img/shields/150/{{ players[table_team.id].images.shield }} " class="table-shield" alt="{{ players[table_team.id].team }}"> {{ players[table_team.id].team }}</a></td>
                <td>{{ table_team.score }}</td> <!-- Ptos -->
                <td>{{ table_team.pj }}</td> <!-- PJ -->
                <td>{{ table_team.pg }}</td> <!-- PG -->
                <td>{{ table_team.pe }}</td> <!-- PE -->
                <td>{{ table_team.pp }}</td> <!-- PP -->
                <td>{{ table_team.pf }}</td> <!-- PF -->
                <td>{{ table_team.pc }}</td> <!-- PC -->
                <td>{{ table_team.dif }}</td> <!-- Dif -->
              </tr>
            </tbody>
          </table>

          <div class="d-lg-none text-left"><small><i class="fas fa-arrows-alt-h fa-lg"></i> Muévete a derecha-izquierda para ver todos los datos de la clasificación</small></div>

          <!-- Resultados -->
          <table class="table cup-table mt-3">
            <ng-container *ngFor="let jornada of championsRounds; let iround = index;">
              <tr>
                <th colspan="3">JORNADA {{ iround + 1 }} ({{ jornada.date }})</th>
              </tr>
              <tr class="fila-impar">
                <td class="text-left equipo"><a [routerLink]="['/profile', group['teams'][championsGroupsSchedule[iround]['match1'][0]]]"><img src="/assets/img/shields/150/{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][0]]].images.shield }}" class="table-shield" alt="{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][0]]].team }}"> <div>{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][0]]].team }}</div></a></td>
                <td class="text-center resultado">{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][0]]].points[jornada.round] }} - {{ players[group['teams'][championsGroupsSchedule[iround]['match1'][1]]].points[jornada.round] }}</td>
                <td class="text-right equipo"><a [routerLink]="['/profile', group['teams'][championsGroupsSchedule[iround]['match1'][1]]]"><img src="/assets/img/shields/150/{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][1]]].images.shield }}" class="table-shield" alt="{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][1]]].team }}"> <div>{{ players[group['teams'][championsGroupsSchedule[iround]['match1'][1]]].team }}</div></a></td>
              </tr>
              <tr class="fila-par">
                <td class="text-left equipo"><a [routerLink]="['/profile', group['teams'][championsGroupsSchedule[iround]['match2'][0]]]"><img src="/assets/img/shields/150/{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][0]]].images.shield }}" class="table-shield" alt="{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][0]]].team }}"> <div>{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][0]]].team }}</div></a></td>
                <td class="text-center resultado">{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][0]]].points[jornada.round] }} - {{ players[group['teams'][championsGroupsSchedule[iround]['match2'][1]]].points[jornada.round] }}</td>
                <td class="text-right equipo"><a [routerLink]="['/profile', group['teams'][championsGroupsSchedule[iround]['match2'][1]]]"><img src="/assets/img/shields/150/{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][1]]].images.shield }}" class="table-shield" alt="{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][1]]].team }}"> <div>{{ players[group['teams'][championsGroupsSchedule[iround]['match2'][1]]].team }}</div></a></td>
              </tr>
            </ng-container>
          </table>
        </div>

      </div>
    </div>
    
  </div>

  <!-- FASE CRUCES -->
  <div class="container tab-pane fade show active" id="fase-C" role="tabpanel" aria-labelledby="fase-C">
    <div class="h5 text-center mt-3">CRUCES</div>

    <!-- TABS -->
    <ul class="nav nav-tabs nav-fill my-3" id="CrucesTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="tab-cruce-A" data-toggle="tab" href="#cruce-A" role="tab" aria-controls="cruce-A" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> OCTAVOS</span>
          <span class="d-sm-inline d-md-none"> 8º</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-cruce-B" data-toggle="tab" href="#cruce-B" role="tab" aria-controls="cruce-B" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> CUARTOS</span>
          <span class="d-sm-inline d-md-none"> 4º</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-cruce-C" data-toggle="tab" href="#cruce-C" role="tab" aria-controls="cruce-C" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> SEMIFINALES</span>
          <span class="d-sm-inline d-md-none"> SE</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-cruce-D" data-toggle="tab" href="#cruce-D" role="tab" aria-controls="cruce-D" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> FINAL</span>
          <span class="d-sm-inline d-md-none"> FI</span>
        </a>
      </li>
    </ul>

    <!-- RESULTADOS -->
    <div class="container tab-content mb-5" id="CrucesTabContent">

      <!-- OCTAVOS -->
      <div class="tab-pane fade show active" id="cruce-A" role="tabpanel" aria-labelledby="cruce-A">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 18/04/2021 - VUELTA: 21/04/2021</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 44]"><img src="/assets/img/shields/150/vicente2.png" class="table-shield" alt="DamageKKing"> <div>DamageKKing</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 36]"><img src="/assets/img/shields/150/richard.png" class="table-shield" alt="La Familia"> <div>La Familia</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 41]"><img src="/assets/img/shields/150/ramon_peredo.png" class="table-shield" alt="Montaña Porrúa"> <div>Montaña Porrúa</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 8]"><img src="/assets/img/shields/150/ines.png" class="table-shield" alt="Capitán Tsubasa"> <div>Capitán Tsubasa</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/jc.png" class="table-shield" alt="Frente Popular"> <div>Frente Popular</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 31]"><img src="/assets/img/shields/150/javichu.png" class="table-shield" alt="Racing Hoznayo"> <div>Racing Hoznayo</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 20]"><img src="/assets/img/shields/150/felipe.png" class="table-shield" alt="Old Tikis"> <div>Old Tikis</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 12]"><img src="/assets/img/shields/150/pablo_fernandez.png" class="table-shield" alt="Lábaro FC"> <div>Lábaro FC</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 13]"><img src="/assets/img/shields/150/borja_ramos.png" class="table-shield" alt="Bierzo Power"> <div>Bierzo Power</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 2]"><img src="/assets/img/shields/150/ortega.png" class="table-shield" alt="David Valcan"> <div>David Valcan</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 3]"><img src="/assets/img/shields/150/luis.png" class="table-shield" alt="Porrua City"> <div>Porrua City</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 23]"><img src="/assets/img/shields/150/diego.png" class="table-shield" alt="Orgullo de Runner"> <div>Orgullo de Runner</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 7]"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 40]"><img src="/assets/img/shields/150/fernando_murube.png" class="table-shield" alt="Murube's Jr"> <div>Murube's Jr</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 9]"><img src="/assets/img/shields/150/nandelas.png" class="table-shield" alt="InFiCaN ViAjEs"> <div>InFiCaN ViAjEs</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 38]"><img src="/assets/img/shields/150/hector.png" class="table-shield" alt="Vieja Escuela FC"> <div>Vieja Escuela FC</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
        </table>
      </div>

      <!-- CUARTOS -->
      <div class="tab-pane fade" id="cruce-B" role="tabpanel" aria-labelledby="cruce-B">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 25/04/2021 - VUELTA: 02/05/2021</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
        </table>
      </div>

      <!-- SEMIS -->
      <div class="tab-pane fade" id="cruce-C" role="tabpanel" aria-labelledby="cruce-C">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 09/05/2021 - VUELTA: 12/05/2021</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
        </table>
      </div>

      <!-- FINAL -->
      <div class="tab-pane fade" id="cruce-D" role="tabpanel" aria-labelledby="cruce-D">
        <!-- Resultados -->
        <table class="table cup-table">
          <tr>
            <td colspan="3" class="text-left"><i class="far fa-clock"></i> PARTIDO ÚNICO: 16/05/2021</td>
          </tr>
          <tr>
            <th><div class="text-center">EQUIPO</div></th>
            <th><div class="text-center"><span class="homeaway-result">TOTAL</span></div></th>
            <th><div class="text-center">EQUIPO</div></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
            <td class="text-center resultado"><div class="cup-score">0 - 0</div></td>
            <td class="text-center equipo bg-light"><a [routerLink]="['/profile', 0]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="-"> <div>-</div></a></td>
          </tr>
        </table>
      </div>

    </div>
  </div>

</div>

<!-- </div> -->
