<!-- HEADER -->
<header>
  <div id="cabecera" class="d-none d-lg-block">
    <a [routerLink]="['/']"><img id="opium-logo" src="/assets/img/banner_opium.png" alt="Logo"/></a>&nbsp;
    <div class="apps-icons d-none d-lg-block">
      <a href="https://itunes.apple.com/es/app/futmondo-manager-de-futbol/id663530434?mt=8" title="Ir a Apple Store" target="_blank">
      <img src="/assets/img/logo_market_ios.png" class="apps-icons"></a>
      <a href="https://play.google.com/store/apps/details?id=com.mondosports.futmondo" title="Ir a Google Play" target="_blank">
      <img src="/assets/img/logo_market_android.png" class="apps-icons"></a>
    </div>
  </div>
</header>
