<div class="h5 text-center my-3"><img src="/assets/img/cups/copa_uefa_negra.png" style="height: 40px; vertical-align: bottom; margin-right: 10px;"> OPIUM EUROPA LEAGUE</div>
    <hr>

    <div class="text-center mb-2"><i class="far fa-clock"></i> Inicio: <span id="countdown-EuropaLeague"></span></div>

    <div class="text-center my-3">
      <div class="h4">CAMPEÓN 2018-2019</div>
      <a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/fran.png" class="foto" alt="Rino's Boys"> <h3>Rino's Boys</h3></a>
    </div>

    <!-- CRUCES -->
    <div class="text-center"><img id="cruces-uefa" class="cruces-img" src="/assets/img/cruces_uefa.png" alt=""></div>

    <!-- RESULTADOS -->
    <div class="h4 text-center mt-3">RESULTADOS</div>

    <!-- TABS -->
    <ul class="nav nav-tabs nav-fill my-3" id="myTab" role="tablist">
      <!-- <li class="nav-item">
        <a class="nav-link" id="tab-A" data-toggle="tab" href="#A" role="tab" aria-controls="A" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline">RONDA PREVIA</span>
          <span class="d-sm-inline d-md-none">PREV</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" id="tab-B" data-toggle="tab" href="#B" role="tab" aria-controls="B" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> OCTAVOS</span>
          <span class="d-sm-inline d-md-none"> 8º</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-C" data-toggle="tab" href="#C" role="tab" aria-controls="C" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> CUARTOS</span>
          <span class="d-sm-inline d-md-none"> 4º</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-D" data-toggle="tab" href="#D" role="tab" aria-controls="D" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> SEMIFINALES</span>
          <span class="d-sm-inline d-md-none"> SE</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="tab-E" data-toggle="tab" href="#E" role="tab" aria-controls="E" aria-selected="true">
          <span><i class="fas fa-expand-arrows-alt"></i></span>
          <span class="d-none d-md-inline"> FINAL</span>
          <span class="d-sm-inline d-md-none"> FI</span>
        </a>
      </li>
    </ul>


    <!-- RESULTADOS -->
    <div class="container tab-content mb-5" id="myTabContent">
      <!-- RONDA PREVIA -->
    <!--   <div class="tab-pane fade" id="A" role="tabpanel" aria-labelledby="tab-A">

        <table class="table cup-table">
          <tr>
            <th colspan="3">RONDA PREVIA (17 Febrero y 24 Febrero)</th>
          </tr>
          <tr class="fila-impar">
            <td class="text-left equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
            <td class="text-center resultado">0 - 0</td>
            <td class="text-right equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
          </tr>
          <tr class="fila-impar">
            <td class="text-left equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
            <td class="text-center resultado">0 - 0</td>
            <td class="text-right equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
          </tr>
          <tr class="fila-par">
            <td class="text-left equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
            <td class="text-center resultado">0 - 0</td>
            <td class="text-right equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
          </tr>
          <tr class="fila-par">
            <td class="text-left equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
            <td class="text-center resultado">0 - 0</td>
            <td class="text-right equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>Equipo</div></a></td>
          </tr>
        </table>
      </div> -->

      <!-- OCTAVOS -->
      <div class="tab-pane fade" id="B" role="tabpanel" aria-labelledby="tab-B">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 17 Febrero - VUELTA: 24 Febrero</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 17]"><img src="/assets/img/shields/150/ines.png" class="table-shield" alt="Capitán Tsubasa"> <div>Capitán Tsubasa</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">(exento)</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a href="#"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>(Exento)</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 14]"><img src="/assets/img/shields/150/mario.png" class="table-shield" alt="Mario's Eleven"> <div>Mario's Eleven</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">51</div><small class="cup-difference">(+25)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">57</div><small class="cup-difference">(-29)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">108</div><small class="cup-difference">(-4)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 23]"><img src="/assets/img/shields/150/borja.png" class="table-shield" alt="Asturgijón"> <div>Asturgijón</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">26</div><small class="cup-difference">(-25)</small></td>
            <td class="text-center resultado cup-win-lose"><div class="cup-score">86</div><small class="cup-difference">(+29)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">112</div><small class="cup-difference">(+4)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 15]"><img src="/assets/img/shields/150/paloma.png" class="table-shield" alt="Super Palomba"> <div>Super Palomba</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">48</div><small class="cup-difference">(+14)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">28</div><small class="cup-difference">(-11)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">76</div><small class="cup-difference">(+3)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 18]"><img src="/assets/img/shields/150/dani_negro.png" class="table-shield" alt="Racing de Santander"> <div>Racing de Santander</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">34</div><small class="cup-difference">(-14)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">39</div><small class="cup-difference">(+11)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">73</div><small class="cup-difference">(-3)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a href="#"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>(Exento)</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">(exento)</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span cl text-white bg-dangerass="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 5]"><img src="/assets/img/shields/150/juanan.png" class="table-shield" alt="Balompédica Porrua"> <div>Balompédica Porrua</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">(exento)</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a href="#"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>(Exento)</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 26]"><img src="/assets/img/shields/150/zea.png" class="table-shield" alt="Zea 1+8 FC"> <div>Zea 1+8 FC</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">45</div><small class="cup-difference">(-22)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">68</div><small class="cup-difference">(-12)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">113</div><small class="cup-difference">(-34)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 25]"><img src="/assets/img/shields/150/carlos_julio.png" class="table-shield" alt="Cabimas FC"> <div>Cabimas FC</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+22)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">80</div><small class="cup-difference">(+12)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">147</div><small class="cup-difference">(+34)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 9]"><img src="/assets/img/shields/150/luis.png" class="table-shield" alt="Porrua City"> <div>Porrua City</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">66</div><small class="cup-difference">(+42)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">80</div><small class="cup-difference">(+9)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">146</div><small class="cup-difference">(+51)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 7]"><img src="/assets/img/shields/150/will.png" class="table-shield" alt="Williessous"> <div>Williessous</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">24</div><small class="cup-difference">(-42)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">71</div><small class="cup-difference">(-9)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">95</div><small class="cup-difference">(-51)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a href="#"><img src="/assets/img/shields/150/logo_opium_icono.png" class="table-shield" alt="Equipo"> <div>(Exento)</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 21]"><img src="/assets/img/shields/150/david_munoz.png" class="table-shield" alt="New tikis"> <div>New tikis</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">-</div><small class="cup-difference">(+0)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">(exento)</div><small class="cup-difference">(+0)</small></td>
          </tr>
        </table>
      </div>

      <!-- CUARTOS -->
      <div class="tab-pane fade" id="C" role="tabpanel" aria-labelledby="tab-C">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 03 Marzo - VUELTA: 10 Marzo</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 17]"><img src="/assets/img/shields/150/ines.png" class="table-shield" alt="Capitán Tsubasa"> <div>Capitán Tsubasa</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">73</div><small class="cup-difference">(+3)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">76</div><small class="cup-difference">(+29)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">149</div><small class="cup-difference">(+32)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 23]"><img src="/assets/img/shields/150/borja.png" class="table-shield" alt="Asturgijón"> <div>Asturgijón</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">70</div><small class="cup-difference">(-3)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">47</div><small class="cup-difference">(-29)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">115</div><small class="cup-difference">(-32)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 15]"><img src="/assets/img/shields/150/paloma.png" class="table-shield" alt="Super Palomba"> <div>Super Palomba</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">38</div><small class="cup-difference">(-25)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">36</div><small class="cup-difference">(-31)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">74</div><small class="cup-difference">(-56)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">63</div><small class="cup-difference">(+25)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+31)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">130</div><small class="cup-difference">(+56)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 5]"><img src="/assets/img/shields/150/juanan.png" class="table-shield" alt="Balompédica Porrua"> <div>Balompédica Porrua</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">56</div><small class="cup-difference">(-13)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">73</div><small class="cup-difference">(+8)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">129</div><small class="cup-difference">(-5)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 25]"><img src="/assets/img/shields/150/carlos_julio.png" class="table-shield" alt="Cabimas FC"> <div>Cabimas FC</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">69</div><small class="cup-difference">(+13)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">65</div><small class="cup-difference">(-8)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">132</div><small class="cup-difference">(+5)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 9]"><img src="/assets/img/shields/150/luis.png" class="table-shield" alt="Porrua City"> <div>Porrua City</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">32</div><small class="cup-difference">(-41)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">60</div><small class="cup-difference">(-22)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">92</div><small class="cup-difference">(-63)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 21]"><img src="/assets/img/shields/150/david_munoz.png" class="table-shield" alt="New tikis"> <div>New tikis</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">73</div><small class="cup-difference">(+41)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">82</div><small class="cup-difference">(+22)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">155</div><small class="cup-difference">(+63)</small></td>
          </tr>
        </table>
      </div>

      <!-- SEMIS -->
      <div class="tab-pane fade" id="D" role="tabpanel" aria-labelledby="tab-D">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="4" class="text-left px-1"><i class="far fa-clock"></i> IDA: 17 Marzo - VUELTA: 31 Marzo</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 17]"><img src="/assets/img/shields/150/ines.png" class="table-shield" alt="Capitán Tsubasa"> <div>Capitán Tsubasa</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">60</div><small class="cup-difference">(-36)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">79</div><small class="cup-difference">(+10)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">139</div><small class="cup-difference">(-26)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">96</div><small class="cup-difference">(+36)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">69</div><small class="cup-difference">(-10)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">165</div><small class="cup-difference">(+26)</small></td>
          </tr>

          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">IDA</span></th>
            <th class="text-center"><span class="homeaway-result">VUELTA</span></th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 25]"><img src="/assets/img/shields/150/carlos_julio.png" class="table-shield" alt="Cabimas FC"> <div>Cabimas FC</div></a></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">74</div><small class="cup-difference">(+7)</small></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">51</div><small class="cup-difference">(-16)</small></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">125</div><small class="cup-difference">(-9)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 21]"><img src="/assets/img/shields/150/david_munoz.png" class="table-shield" alt="New tikis"> <div>New tikis</div></a></td>
            <td class="text-center resultado cup-lose-pre"><div class="cup-score">67</div><small class="cup-difference">(-7)</small></td>
            <td class="text-center resultado cup-win-pre"><div class="cup-score">67</div><small class="cup-difference">(+16)</small></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">134</div><small class="cup-difference">(+9)</small></td>
          </tr>
        </table>
      </div>

      <!-- FINAL -->
      <div class="tab-pane fade show active" id="E" role="tabpanel" aria-labelledby="tab-E">
        <!-- Resultados -->
        <table class="table">
          <tr>
            <th colspan="2" class="text-left"><i class="far fa-clock"></i> PARTIDO ÚNICO: 03 Abril</th>
          </tr>
          <tr>
            <th>EQUIPO</th>
            <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
            <td class="text-center resultado text-white bg-success"><div class="cup-score">76</div><small class="cup-difference">(+19)</small></td>
          </tr>
          <tr class="fila fila-impar">
            <td class="text-center equipo"><a [routerLink]="['/profile', 21]"><img src="/assets/img/shields/150/david_munoz.png" class="table-shield" alt="New tikis"> <div>New tikis</div></a></td>
            <td class="text-center resultado text-white bg-danger"><div class="cup-score">57</div><small class="cup-difference">(-19)</small></td>
          </tr>
        </table>
      </div>

    </div>