<div class="h3 text-center my-3">OTRAS COMPETICIONES</div>

<div class="row container-fluid mx-auto mb-3">
  <div class="col-12 col-">

    <div class="card-deck mb-3">
      <!-- FO-CUP -->
      <div class="card">
        <a [routerLink]="['/cup']">
          <img class="card-img-top" src="assets/img/competitions/banner_fo_cup.jpg" alt="FO Cup">
        </a>
        <div class="card-body">
          <h5 class="card-title">FO CUP</h5>
          <p class="card-text">Competición bajo el soporte de Futmondo en su modo Copa, que enfrentará a los participantes de la Opium League mediante eliminatorias directas a ida y vuelta, incluída la final.</p>
        </div>
        <div class="card-footer">
          <div *ngIf="FOCup[0].distance > 0">
            <small class="text-muted">
              <i class="fas fa-diagnoses"></i> Sorteo: <span id="countdown-draw-FOCup">0d 0h 0m 0s</span>
            </small>
          </div>
          <div *ngIf="FOCup[1].distance > 0">
            <small class="text-muted">
              <i class="far fa-clock"></i> Inicio: <span id="countdown-FOCup">0d 0h 0m 0s</span>
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (ronda previa) Jor. 7 y Jor. 8
            </small>
          </div>          
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (cruces) Desde Jor. 9 hasta Jor. 18
            </small>
            <span class="float-right">
              <a [routerLink]="['/cup']">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

      <!-- CHAMPIONS -->
      <div class="card">
        <a [routerLink]="['/champions']">
          <img class="card-img-top" src="assets/img/competitions/banner_champions_league.jpg" alt="Champions League">
        </a>
        <div class="card-body">
          <h5 class="card-title">CHAMPIONS LEAGUE</h5>
          <p class="card-text">Competición donde los participantes se enfrentarán siguiendo un formato similar al de la Liga de Campeones, contando con una primera fase de liguilla, para pasar a la fase de eliminatorias a ida y vuelta, salvo la final que será a partido único.</p>
        </div>
        <div class="card-footer">
          <div *ngIf="Champions[0].distance > 0">
            <small class="text-muted">
              <i class="fas fa-diagnoses"></i> Sorteo: <span id="countdown-draw-Champions">0d 0h 0m 0s</span>
            </small>
          </div>
          <div *ngIf="Champions[1].distance > 0">
            <small class="text-muted">
              <i class="far fa-clock"></i> Inicio: <span id="countdown-Champions">0d 0h 0m 0s</span>
            </small>
          </div>
          <!-- <small class="text-muted">
            <i class="fas fa-expand-arrows-alt"></i> (ronda previa) Jor. 19 y Jor. 20
          </small>
          <br> -->
          <div>
            <small class="text-muted">
              <i class="fas fa-table"></i> (liguilla) Desde Jor. 22 hasta Jor. 27
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (cruces) Desde Jor. 31 hasta Jor. 37
            </small>
            <span class="float-right">
              <a [routerLink]="['/champions']">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

      <!-- EUROPA LEAGUE -->
      <div class="card">
        <a [routerLink]="['/uefa']">
          <img class="card-img-top" src="assets/img/competitions/banner_europa_league.jpg" alt="Europa League">
        </a>
        <div class="card-body">
          <h5 class="card-title">EUROPA LEAGUE</h5>
          <p class="card-text">Competición en la que participarán los equipos que hayan quedado eliminados tanto en la ronda previa como en la fase de liguilla de la "OPIUM CHAMPIONS LEAGUE" y se jugará a eliminatorias a ida y vuelta, salvo la final que será a partido único.</p>
        </div>
        <div class="card-footer">
          <div *ngIf="EuropaLeague[0].distance > 0">
            <small class="text-muted">
              <i class="far fa-clock"></i> Inicio: <span id="countdown-EuropaLeague">0d 0h 0m 0s</span>
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (cruces) Desde Jor. 28 hasta Jor. 36
            </small>
            <span class="float-right">
              <a [routerLink]="['/uefa']">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

    </div><!--end card-deck-->
  </div>
</div>


<div class="row container-fluid mx-auto mb-3">
  <div class="col-12 col-">
    <div class="card-deck mb-3">

      <!-- SUPERCOPA EUROPA -->
      <div class="card">
        <a [routerLink]="['/supercup-europa']">
          <img class="card-img-top" src="assets/img/competitions/banner_supercopa_europa.png" alt="Supercopa Europa">
        </a>
        <div class="card-body">
          <h5 class="card-title">SUPERCOPA EUROPA</h5>
          <p class="card-text">Competición en la que participarán los campeones de Champions y Europa League de la temporada anterior a partido único.</p>
        </div>
        <div class="card-footer">
          <div *ngIf="SupercupEuropa[0].distance > 0">
            <small class="text-muted">
              <i class="far fa-clock"></i> Inicio: <span id="countdown-SupercupEuropa">0d 0h 0m 0s</span>
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-arrows-alt-h"></i> (final) Jor. 2
            </small>
          </div>
          <div>
            <span class="float-right">
              <a [routerLink]="['/supercup-europa']">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

      <!-- SUPERCOPA ESPAÑA -->
      <div class="card">
        <a [routerLink]="['/supercup-spain']">
          <img class="card-img-top" src="assets/img/competitions/banner_supercopa_espana.png" alt="Supercopa España">
        </a>
        <div class="card-body">
          <h5 class="card-title">SUPERCOPA ESPAÑA</h5>
          <p class="card-text">Competición en la que participarán los dos equipos finalistas de la FO Cup y el campeón y subcampeón de la Opium League de la temporada anterior.</p>
        </div>
        <div class="card-footer">
          <div *ngIf="SupercupSpain[0].distance > 0">
            <small class="text-muted">
              <i class="far fa-clock"></i> Inicio: <span id="countdown-SupercupSpain">0d 0h 0m 0s</span>
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (semifinales) Jor. 4
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (final) Jor. 5
            </small>
          </div>
          <div>
            <span class="float-right">
              <a [routerLink]="['/supercup-spain']">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      
      <!-- SUPERCOPA OPIUM -->
      <div class="card">
        <a [routerLink]="['/competitions']">
          <img class="card-img-top" src="assets/img/competitions/banner_supercopa_opium.jpg" alt="Opium Cup">
        </a>
        <div class="card-body">
          <h5 class="card-title">SUPERCOPA OPIUM</h5>
          <p class="card-text">Competición en la que participarán los campeones de Liga, FO Cup, Champions y Europa League de la temporada anterior.</p>
        </div>
        <div class="card-footer">
          <div *ngIf="SupercupOpium[0].distance > 0">
            <small class="text-muted">
              <i class="far fa-clock"></i> Inicio: <span id="countdown-SupercupOpium">0d 0h 0m 0s</span>
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (semifinales) Jor. 19
            </small>
          </div>
          <div>
            <small class="text-muted">
              <i class="fas fa-expand-arrows-alt"></i> (final) Jor. 20
            </small>
          </div>
          <div>
            <span class="float-right">
              <a [routerLink]="['/competitions']">
                <i class="fas fa-angle-double-right"></i>
              </a>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
