<div class="h5 text-center my-3"><img src="/assets/img/cups/supercopa_europa.png" style="height: 40px; vertical-align: bottom; margin-right: 10px;"> SUPERCOPA EUROPA OPIUM</div>
<hr>

<div class="text-center mb-2"><i class="far fa-clock"></i> Inicio: <span id="countdown-SupercupEuropa"></span></div>

<!-- CABECERA -->
<!-- <div class="text-center my-3">
  <div class="h4">CAMPEÓN 2019-2020</div>
  <a [routerLink]="['/profile', 1]"><img src="/assets/img/shields/150/fran.png" class="foto" alt="Rino's Boys"> <h3>Rino's Boys</h3></a>
</div> -->

<!-- CRUCES -->
<div class="text-center"><img id="cruces-supercup-uefa" class="cruces-img" src="/assets/img/supercup_europa_cruces.png" alt=""></div>

<!-- FINAL -->
<div class="tab-pane mb-5 fade show active" id="A" role="tabpanel" aria-labelledby="tab-A">
  <div class="h5 text-center my-3"> FINAL</div>
  <!-- Resultados -->
  <table class="table cup-table">
    <tr>
      <th colspan="3" class="text-left"><i class="far fa-clock"></i> PARTIDO ÚNICO: 18/08/2019</th>
    </tr>
    <tr>
      <th>EQUIPO</th>
      <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      <th>EQUIPO</th>
    </tr>
    <tr class="fila fila-impar">
        <td class="text-center equipo"><a [routerLink]="['/profile', 22]"><img src="/assets/img/shields/150/ekaitz.png" class="table-shield" alt="Yellow Storm F.C."> <div>Yellow Storm F.C.</div></a></td>
        <td class="text-center resultado"><div class="cup-score">-</div></td>
        <td class="text-center equipo"><a [routerLink]="['/profile', 7]"><img src="/assets/img/shields/150/fran.png" class="table-shield" alt="Rino's Boys"> <div>Rino's Boys</div></a></td>
      </tr>
  </table>
</div>