<div class="h5 text-center my-3"><img src="/assets/img/cups/supercopa_europa.png" style="height: 40px; vertical-align: bottom; margin-right: 10px;"> SUPERCOPA EUROPA</div>
<hr>

<div class="text-center mb-2" *ngIf="SupercupEuropa[0].distance > 0"><i class="far fa-clock"></i> Inicio: <span id="countdown-SupercupEuropa">0d 0h 0m 0s</span></div>

<!-- CABECERA -->
<div class="text-center my-3">
  <!-- <div class="h4">CAMPEÓN 2018-2019</div>
  <a [routerLink]="['/profile', 22]"><img src="/assets/img/shields/150/ekaitz.png" class="foto" alt="Yellow Storm F.C."> <div>Yellow Storm F.C.</div></a> -->
</div>

<!-- CRUCES -->
<div class="text-center mb-4"><img id="cruces-supercup-uefa" class="cruces-img" src="/assets/img/competitions/supercup_europa_cruces.jpg" alt=""></div>


<!-- FINAL -->
<div class="tab-pane mb-5 fade show active" id="A" role="tabpanel" aria-labelledby="tab-A">
  <div class="h5 text-center my-3"> FINAL</div>
  <!-- Resultados -->
  <table class="container table cup-table">
    <tr>
      <th colspan="3" class="text-left"><i class="far fa-clock"></i> PARTIDO ÚNICO: 20/09/2020</th>
    </tr>
    <tr>
      <th>EQUIPO</th>
      <th class="text-center"><span class="homeaway-result">TOTAL</span></th>
      <th>EQUIPO</th>
    </tr>
    <tr class="fila fila-impar">
      <td class="text-center equipo"><a [routerLink]="['/profile', 3]"><img src="/assets/img/shields/150/luis.png" class="table-shield" alt="Porrua City"> <div>Porrua City</div></a></td>
      <td class="text-center resultado"><div class="cup-score">0 - 0</div></td>
      <td class="text-center equipo"><a [routerLink]="['/profile', 6]"><img src="/assets/img/shields/150/adolfo.png" class="table-shield" alt="Galizano 20-21"> <div>Galizano 20-21</div></a></td>
    </tr>
    <!-- DESEMPATE -->
    <!-- <tr>
      <th></th>
      <th class="text-center"><span class="homeaway-result bg-danger">DESEMPATE</span></th>
      <th></th>
    </tr>
    <tr class="fila fila-par">
        <td class="text-center equipo"></td>
        <td class="text-center resultado"><div class="cup-score">61 - 55</div></td>
        <td class="text-center equipo"></td>
      </tr> -->
  </table>
</div>
