<section class="section">
  <div class="h3 text-center my-3">REGLAMENTO INTERNO</div>
  <div id="contenedor-reglas" class="mb-5">
    <div class="content">
      <p class="regla-titulo">REGLA I - ÁMBITO</p>
      <div class="hr"></div>
      <p class="regla-texto">
        La "Opium League" es una competición entre amigos basada en FUTMONDO, los participantes se encuentran sometidos en primer lugar a lo dispuesto en el reglamento oficial publicado por el sitio web de FUTMONDO y en segundo lugar por las reglas que aquí se detallarán.</p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA II – FECHAS Y SISTEMA DE PUNTUACIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        El juego, como norma general, comenzará en la primera jornada en la que comience FUTMONDO, finalizando la última jornada del juego.
      </p>
      <p class="regla-texto">
        Por razones fundadas y con la finalidad de aumentar el número de participantes la competición podrá comenzar en una fecha posterior e incluso acabar en una fecha anterior.
      </p>
      <p class="regla-texto">
        Las únicas puntuaciones válidas son las oficialmente publicadas por FUTMONDO, a través de su sitio web. Más información: <br>
        <a href="https://help.futmondo.com/article/204-modo-prensa-liga-santander" target="_blank">https://help.futmondo.com/article/204-modo-prensa-liga-santander</a>
      </p>
      <p class="regla-texto">
        La temporada 2019/2020 estará compuesta de 38 jornadas, coincidiendo exactamente con el calendario de LFP.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA III - NÚMERO DE PARTICIPANTES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        El número de participantes es ilimitado. No obstante la organización se reserva el derecho bien a limitar el número de participantes, o en su caso a crear una segunda liga, en el caso de que el número de participantes supere los 40.
      </p>
      <p class="regla-texto">
        Cada participante podrá inscribir únicamente un equipo en la "Opium League", no pudiendo controlar ningún otro equipo ya sea de forma directa o indirecta. El incumplimiento de esta regla supondrá la expulsión y pérdida de los derechos a premios para los participantes y equipos implicados.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA IV – INSCRIPCIÓN EN "OPIUM LEAGUE"</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los equipos participantes deberán abonar una cuota de inscripción de 10€ por cada equipo que inscriban para poder participar. El pago deberá estar hecho al inicio del campeonato, salvo que causas justificadas lo impidan hacer en plazo. Las cantidades abonadas no son reembolsables en ningún caso.
      </p>
      <p class="regla-texto">
        En cualquier caso aquellos equipos que <span style="text-decoration: underline;">antes de las navidades</span> no se encuentren al corriente de pago serán expulsados de la competición, perdiendo su derecho a recibir cualquier premio, aún cuando paguen con posterioridad para regularizar su situación. El pago posterior únicamente habilita a seguir participando, pero sin derecho a premio.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA V – OTRAS COMPETICIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los equipos participantes en la liga "Opium League" participarán además en otras competiciones con el mismo equipo. Se tomarán las puntuaciones obtenidas en la "Opium League" para las diferentes fases y eliminatorias de dichas competiciones en base a un calendario de jornadas decidido al comienzo de la temporada.
      </p>
      <div class="regla-subtitulo regla-titulo-margen">Opium Champions League:</div>
      <p class="regla-texto">
        Competición donde los participantes se enfrentarán siguiendo un formato similar al de la "Liga de Campeones" de la UEFA, contando con una primera fase de liguilla, para pasar a la fase de eliminatorias a ida y vuelta, salvo la final que será a partido único. A la fase de liguilla pasarán 32 equipos.
      </p>
      <p class="regla-texto">
        La jornada anterior al comienzo de la competición se realizará un sorteo para encuadrar a los equipos en los diferentes grupos. Se tomará los primeros equipos de la clasificación de la "Opium League" de ese momento para decidir quiénes serán cabezas de serie no pudiendo estar en el mismo grupo de la fase de liguilla. Habrá tantos cabezas de serie como grupos haya.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Opium Europa League:</div>
      <p class="regla-texto">
        Estará conformada por aquellos equipos eliminados en la ronda previa de "OPIUM CHAMPIONS LEAGUE" así como por los equipos eliminados en la fase de grupos de la misma "OPIUM CHAMPIONS LEAGUE" y se jugará a eliminatorias a ida y vuelta, salvo la final que será a partido único.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">FO Cup (Futmondo Opium Cup):</div>
      <p class="regla-texto">
        Competición bajo el soporte de FUTMONDO en su modo Copa, que enfrentará a los participantes de la "Opium League" mediante eliminatorias directas a ida y vuelta, incluída la final.
      </p>
      <p class="regla-texto">
        La jornada anterior al comienzo de la competición se realizará un sorteo para encuadrar a los equipos en los diferentes cruces.
      </p>
      <div class="regla-subtitulo regla-titulo-margen">Supercopa Opium de Europa:</div>
      <p class="regla-texto">
        Competición en la que participarán los campeones de "Opium Champions League" y "Opium Europa League" de la temporada anterior a partido único.
      </p>
      <div class="regla-subtitulo regla-titulo-margen">Supercopa Opium de España:</div>
      <p class="regla-texto">
        Competición en la que participarán los dos equipos finalistas de la "FO Cup" y el campeón y subcampeón de la "Opium League" de la temporada anterior.
      </p>
      <p class="regla-texto">
        En caso de coincidencia, accederá a la Supercopa el mejor clasificado en "Opium League" que no haya disputado la final de la "FO Cup", en cuyo caso el emparejamiento de semifinales se realizará por sorteo.
      </p>
      <p class="regla-texto">
        Se jugarán unas semifinales y final ambas a partido único. En las semifinales juegan el campeón de "FO Cup" contra el subcampeón de "Opium League" y el campeón de "Opium League" contra el subcampeón de la "FO Cup".
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA VI – ÁRBITRO</p>
      <div class="hr"></div>
      <p class="regla-texto">
        La interpretación de este reglamento, así como las controversias que surjan a lo largo de la competición, será realizado por un jurista en ejercicio ajeno a la organización, sometiéndose las partes a su dictamen, no cabiendo ningún tipo de recurso posterior.
      </p>
      <p class="regla-texto">
        El letrado <span style="text-decoration: underline; font-style: italic;">Iván Pedrejón de la Parte</span> ejercerá esta función durante la vigencia de este reglamento.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA VII – PREMIOS</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los premios de cada competición consistirán en:
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Opium League:</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago de los siguientes porcentajes sobre el total recaudado <span style="text-decoration: underline;">una vez descontadas las cantidades del resto de competiciones y de los Premios Especiales (85€)</span>:
      </p>
      <p class="regla-texto regla-texto-margen">1º Clasificado - 45% del restante y <span style="text-decoration: underline;">*Premio Supercampeón INFICAN</span></p>
      <p class="regla-texto regla-texto-margen">2º Clasificado - 25% del restante</p>
      <p class="regla-texto regla-texto-margen">3º Clasificado - 15% del restante</p>
      <p class="regla-texto regla-texto-margen">4º Clasificado - 10% del restante</p>
      <p class="regla-texto regla-texto-margen">5º Clasificado - 5% del restante</p>
      <p class="regla-texto regla-texto-margen">6º Clasificado - 10€ (*Premio Especial INFICAN)</p>
      <p class="regla-texto regla-texto-margen">7º Clasificado - 10€ (*Premio Especial INFICAN)</p>
      <p class="regla-texto regla-texto-margen">8º Clasificado - 10€ (*Premio Especial INFICAN)</p>
      <p class="regla-texto regla-texto-margen">9º Clasificado - 10€ (*Premio Especial INFICAN)</p>
      <p class="regla-texto regla-texto-margen">10º Clasificado - 10€ (*Premio Especial INFICAN)</p>

      <div class="regla-subtitulo regla-titulo-margen">Opium Champions League:</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 35€ al campeón.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Opium Europa League:</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 15€ al campeón.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">FO Cup (Futmondo Opium Cup):</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 15€ al campeón.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Premios Especiales:</div>
      <div class="regla-subtitulo regla-texto-margen">*Premio Supercampeón INFICAN VIAJES</div>
      <p class="regla-texto regla-texto-margen">
        -> Por gentileza de INFICAN VIAJES, por cada reserva que se realice durante la temporada 2019/2020 por parte de cualquier participante, familiar o amigo en INFICAN VIAJES, la agencia oficial de la Opium League, por importe superior a 200€ (transporte excluido), INFICAN VIAJES, añadirá 10€ más al premio del ganador.<br>
        -> Cuantas más reservas se realicen mayor será el premio.
      </p>
      <div class="regla-subtitulo regla-texto-margen">*Premio Especial INFICAN VIAJES</div>
      <p class="regla-texto regla-texto-margen">
        -> Por gentileza de INFICAN VIAJES, la agencia de viajes oficial de la "Opium League", los participantes que <span style="text-decoration: underline;">al finalizar la temporada</span> hayan quedado clasificados entre la posición 6º y 10º de la "Opium League" recibirán como premio 10€ cada uno.
      </p>
      <div class="regla-subtitulo regla-texto-margen">*Premio CERVECERÍA MOMPY'S al ganador de cada jornada</div>
      <p class="regla-texto regla-texto-margen">
        -> Por gentileza de CERVECERÍA MOMPY'S durante la temporada 2019/2020, el ganador de cada jornada, recibirá una tortilla de patata, bajo la modalidad de recogida en el local.<br>
        -> El tamaño y las características de la tortilla será el que determine Cervecería Mompy's en cada momento.<br>
        -> Los premios caducarán al finalizar la temporada, salvo que Cervecería Mompy's decida prorrogar el disfrute de los mismos.<br>
        -> La organización de la Opium League no se hace responsable de las incidencias que pudieran surgir con este premio, al tratarse de un detalle ofrecido por uno de los patrocinadores de la "Opium League".
      </p>
      <div class="regla-subtitulo regla-texto-margen">*Premio Regularidad</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 10€ al equipo que gane más jornadas individuales en la "Opium League" a lo largo de la temporada. Este premio se otorga al final de la temporada.
      </p>
      <div class="regla-subtitulo regla-texto-margen">*Premio Jornada Top</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 10€ al equipo que haya obtenido la puntuación más alta de todos los participantes en una jornada en la "Opium League". Este premio se otorga al final de la temporada.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA VIII – REQUISITOS PARA LA RECEPCIÓN DE LOS PREMIOS</p>
      <div class="hr"></div>
      <div>
        <p class="regla-texto">Serán condiciones para recibir premios:</p>
        <ol class="mb-2">
          <li>Estar al corriente de los pagos con la organización dentro de las fechas señaladas en la Regla IV.</li>
          <li>No adeudar cantidad alguna de ejercicios anteriores.</li>
          <li>Respetar las decisiones tomadas por la organización.</li>
        </ol>
      </div>
      <p class="regla-texto">En el caso de que uno o varios de los equipos ganadores incumplan alguna de estas condiciones, el premio irá a los siguientes clasificados que sí los cumplan.</p>
    </div>

    <!-- <div class="content">
      <p class="regla-titulo">REGLA IX – PENALIZACIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los tres últimos equipos de la "Opium League" deberán abonar  el doble de la inscripción, para la temporada siguiente, si quieren volver a  participar.
      </p>
    </div> -->

    <div class="content">
      <p class="regla-titulo">REGLA IX – CRITERIOS DE DESEMPATE</p>
      <div class="hr"></div>
      <div>

        <div class="regla-subtitulo regla-titulo-margen">Opium League:</div>
        <p class="regla-texto ml-4">
          -> Si dos o más equipos quedaran empatados al finalizar la temporada, quedará por delante aquel equipo que haya obtenido la puntuación más alta de los dos en una jornada única.
        </p>
        <p class="regla-texto ml-4">
          -> Si persistiera el empate se repartirá el premio que correspondiera por partes iguales.
        </p>

        <div class="regla-subtitulo regla-titulo-margen">Opium Champions League:</div>
        <p class="regla-texto ml-4">
          -> Si dos o más equipos quedaran empatados al finalizar la fase de liguilla, quedará por delante aquel equipo que haya obtenido una mejor diferencia de puntos entre los puntos a favor y en contra.
        </p>
        <p class="regla-texto ml-4">
          -> Si persistiera el empate quedará por delante aquel equipo que haya obtenido la puntuación más alta en las jornadas en las que ha tenido lugar la liguilla.
        </p>

        <div class="regla-subtitulo regla-titulo-margen">FO Cup</div>
        <p class="regla-texto ml-4">
          El usuario que haya conseguido mayor puntuación en una de las jornadas del enfrentamiento será el que pase. Ejemplo:
        </p>
        <ul class="mb-2">
          <li>Primer partido: Usuario A= 80 puntos / Usuario B= 50 puntos</li>
          <li>Segundo partido: Usuario A= 40 puntos / Usuario B= 70 puntos</li>
          <li>El usuario A será el que pase a la siguiente ronda ya que ha conseguido la puntuación más alta en uno de los enfrentamientos (80 puntos)</li>
          <li>En caso de empate a puntos a todo, el azar será quien decida</li>
        </ul>
        <!-- <div class="regla-subtitulo regla-titulo-margen">Mejores terceros:</div>
        <p class="regla-texto ml-4">
          -> Si en la temporada fuese necesario calcular cuáles son los mejores terceros clasificados, los criterios de desempate serán análogos a los de la liguilla.
        </p> -->

        <div class="regla-subtitulo regla-titulo-margen">Premios especiales:</div>
        <p class="regla-texto">
          -> En caso  de empate se repartirá el premio entre los equipos empatados.
        </p>

        <p class="regla-subtitulo regla-titulo-margen">Premio CERVECERÍA MOMPY'S al ganador de cada jornada</p>
        <p class="regla-texto regla-texto-margen">
          Solo habrá un ganador por jornada. En caso de empate a puntos se proclamará ganador de la jornada:
        </p>
        <ol class="mb-2">
          <li>Aquel equipo cuyos jugadores que hayan marcado más goles en la jornada</li>
          <li>De persistir el empate, el que haya recibido menos goles</li>
          <li>Si continuara persistiendo el empate el que tenga el jugador con mejor puntuación en esa jornada.</li>
          <li>Si todo lo anterior no permitiese dilucidar al ganador de la jornada se utilizará el sorteo como criterio de desempate.</li>
        </ol>
      </div>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA X – INFRACCIONES</p>
      <div class="hr"></div>
      <div>
        <p class="regla-texto">Se consideran infracciones graves las siguientes:</p>
        <ol class="mb-2">
          <li>No pagar las cuotas en plazo</li>
          <li>Adeudar cantidades de ejercicios anteriores</li>
          <li>No respetar las reglas de la competición, ni los  dictámenes del <span style="font-weight: bold; text-decoration: underline;">Árbitro</span>.</li>
          <li>La comisión de tres o más infracciones leves.</li>
        </ol>
      </div>
      <p class="regla-texto">Se consideran infracciones leves todas aquellas que no tengan la consideración de graves.</p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA XI - SANCIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Por la comisión de <span style="text-decoration: underline;">infracciones graves</span>:
      </p>
      <p class="regla-texto regla-texto-margen">
        Pérdida de derecho a la percepción de premio alguno, así como la imposibilidad de participar en la competición del año siguiente. La regularización en el pago rehabilitará el derecho a participar en la competición del año siguiente con plenitud de derechos.
      </p>
      <p class="regla-texto">
        Por la comisión de <span style="text-decoration: underline;">infracciones leves</span>:
      </p>
      <p class="regla-texto regla-texto-margen">
        Amonestacion verbal.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA XII – PROCEDIMIENTO SANCIONADOR</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Se iniciará de oficio o a instancia de parte, los interesados tendrán diez días naturales para realizar alegaciones y el <span style="font-weight: bold; text-decoration: underline;">Árbitro</span> de competición decidirá en los 10 días naturales siguientes, sin que quepa recurso posterior alguno.
      </p>
    </div>

  </div>
</section>