<section class="section">
  <div class="h3 text-center my-3">REGLAMENTO INTERNO</div>
  <div id="contenedor-reglas">
    <div class="content">
      <p class="regla-titulo">REGLA I</p>
      <div class="hr"></div>
      <p class="regla-texto">
        La "X Opium League" es una  competición entre amigos basada en Futmondo, los  participantes se encuentran sometidos en primer lugar a lo dispuesto en el  reglamento oficial publicado por el sitio web de Futmondo y en segundo lugar  por las reglas que aquí se detallarán.</p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA II – FECHAS DE LA COMPETICIÓN Y  SISTEMA DE PUNTUACIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        El juego como norma general comenzará en la primera jornada en la que comience Futmondo, finalizando la última jornada del juego.
      </p>
      <p class="regla-texto">
        Por razones fundadas y con la finalidad de aumentar el número de  participantes la competición podrá comenzar en una fecha posterior e incluso  acabar en una fecha anterior.
      </p>
      <p class="regla-texto">
        Las únicas puntuaciones válidas son las oficialmente publicadas por Futmondo, a través de su sitio web.<br>
        <a href="https://help.futmondo.com/article/204-modo-prensa-liga-santander" target="_blank">https://help.futmondo.com/article/204-modo-prensa-liga-santander</a>
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA III - NÚMERO DE JUGADORES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        El número de jugadores es ilimitado. No obstante la organización se reserva el derecho a crear una segunda liga en el caso de que el número de participantes sea excesivo.
      </p>
      <p class="regla-texto">
        Cada jugador podrá inscribir únicamente un equipo en la liga. Los participantes sólo podrán jugar con un sólo equipo, no pudiendo controlar ningún otro equipo ya sea de forma directa o indirecta, el  incumplimiento de esta regla supondrá la expulsión y pérdida de los derechos a premios para los jugadores y equipos implicados.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA IV – INSCRIPCIÓN EN LA LIGA</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los equipos participantes deberán abonar una cuota de inscripción de 10 € para poder participar. El pago deberá estar hecho con antelación al inicio del campeonato, salvo que causas justificadas lo impidan hacer en plazo. Las cantidades abonadas no son reembolsables en ningún caso.
      </p>
      <p class="regla-texto">
        En cualquier caso aquellos equipos que <span style="text-decoration: underline;">antes del comienzo del juego</span> no se encuentren al corriente del pago serán expulsados de la competición, perdiendo su derecho a recibir cualquier premio, aún cuando paguen con posterioridad, para regularizar su situación. El pago posterior únicamente habilita a seguir participando, pero sin derecho a premio.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA V – OTRAS COMPETICIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los equipos participantes en la Liga participarán además en otras competiciones con el mismo equipo. Se tomarán las puntuaciones obtenidas en la Liga para las diferentes fases y eliminatorias de dichas competiciones en base a un calendario de jornadas decidido al comienzo de la Liga.
      </p>
      <div class="regla-subtitulo regla-titulo-margen">Opium Champions League:</div>
      <p class="regla-texto">
        Competición donde los participantes se enfrentarán siguiendo un formato similar al de la Liga de Campeones, contando con una primera fase de liguilla, para pasar a la fase de eliminatorias a ida y vuelta, salvo la final que será a partido único.
      </p>
      <p class="regla-texto">
        La jornada anterior al comienzo de la competición se realizará un sorteo para encuadrar a los equipos en los diferentes grupos. Se tomará los primeros equipos de la clasificación de la liga de ese momento para decidir quiénes serán cabezas de serie no pudiendo estar en el mismo grupo de la fase de liguilla. Habrá tantos cabezas de serie como grupos haya.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Opium Europa League:</div>
      <p class="regla-texto">
        Competición en la que participarán los equipos que hayan quedado eliminados en la fase de liguilla de la "OPIUM CHAMPIONS LEAGUE" y se jugará a eliminatorias a ida y vuelta, salvo la final que será a partido único.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">FO Cup (Futmondo Opium Cup):</div>
      <p class="regla-texto">
        Competición bajo el soporte de Futmondo en su modo Copa, que enfrentará a los participantes de la Opium League mediante eliminatorias directas a ida y vuelta.
      </p>
      <p class="regla-texto">
        La jornada anterior al comienzo de la competición se realizará un sorteo para encuadrar a los equipos en los diferentes cruces.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA VI – JUEZ ÚNICO</p>
      <div class="hr"></div>
      <p class="regla-texto">
        La interpretación de este reglamento, así como las controversias que surjan a lo largo de la competición, será realizado por un jurista en ejercicio ajeno a la organización, sometiéndose las partes a su dictamen, no cabiendo ningún tipo de recurso posterior.
      </p>
      <p class="regla-texto">
        El letrado <span style="text-decoration: underline; font-style: italic;">Iván Pedrejón de la Parte</span> ejercerá esta función durante la vigencia de este reglamento.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA VII – PREMIOS</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los premios consistirán en el pago en metálico de las siguientes cantidades:
      </p>

      <div class="regla-subtitulo regla-titulo-margen" >Opium League:</div>
      <p class="regla-texto">
        El premio consistirá en el pago de los siguientes porcentajes sobre el total recaudado <span style="text-decoration: underline;">una vez descontadas la cantidades del resto de competiciones y de los Premios Especiales (50€)</span>:
      </p>
      <p class="regla-texto regla-texto-margen">1º Clasificado - 45% del restante y <span style="text-decoration: underline;">*Premio Infican Viajes</span></p>
      <p class="regla-texto regla-texto-margen">2º Clasificado - 20% del restante</p>
      <p class="regla-texto regla-texto-margen">3º Clasificado - 15% del restante</p>
      <p class="regla-texto regla-texto-margen">4º Clasificado - 10% del restante</p>
      <p class="regla-texto regla-texto-margen">5º Clasificado - 5% del restante</p>
      <p class="regla-texto regla-texto-margen">6º Clasificado - 3% del restante</p>
      <p class="regla-texto regla-texto-margen">7º Clasificado - 2% del restante</p>
      <div class="regla-subtitulo regla-titulo-margen" >*Premio InfiCan Viajes</div>

      <p class="regla-texto">
        El premio consistirá en 50 € de descuento para viajes de un mínimo de 500 € o 100 € de descuento para viajes de un mínimo de 1.000 € en hoteles o paquetes vacacionales.
      </p>
      <p class="regla-texto">
        <span style="text-decoration: underline;">CONDICIONES:</span>
      </p>
      <p class="regla-texto">
        -> No válido para solo transporte.
      </p>
      <p class="regla-texto">
        -> El premio se puede ceder y tiene validez durante 1 año desde que se recibe.
      </p>
      <p class="regla-texto">
        -> Válido para cualquier hotel de EXPEDIA, de HOTELES.COM o para cualquier presupuesto consultado en Infican Viajes.
      </p>
      <p class="regla-texto">
        <span style="text-decoration: underline;">CONTACTO:</span>
      </p>
      <p class="regla-texto">
        Calle Floranes 44 Santander - 942050097 - viajes@infican.com
      </p>
      <div class="regla-subtitulo regla-titulo-margen">Opium Champions League:</div>
      <p class="regla-texto">
        El premio consistirá en el pago en metálico de 20€ al campeón.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Opium Europa League:</div>
      <p class="regla-texto">
        El premio consistirá en el pago en metálico de 10€ al campeón.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">FO Cup (Futmondo Opium Cup):</div>
      <p class="regla-texto">
        El premio consistirá en el pago en metálico de 10€ al campeón.
      </p>

      <div class="regla-subtitulo regla-titulo-margen">Premios Especiales:</div>
      <p class="regla-texto">
        -> 5€ al equipo que gane más jornadas individuales a lo largo de la liga.
      </p>
      <p class="regla-texto">
        -> 5€ al equipo que haya obtenido la puntuación más alta de todos los participantes en una jornada de la liga.
      </p>
      <p class="regla-texto">
         (Estos premios se otorgan al final de la liga)
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA VIII – REQUISITOS PARA LA RECEPCIÓN DE LOS PREMIOS</p>
      <div class="hr"></div>
      <div>
        <p class="regla-texto">Serán condiciones para recibir premios:</p>
        <ol>
          <li>Estar al corriente de los pagos con la  organización dentro de las fechas señaladas en la Regla IV.</li>
          <li>No adeudar cantidad alguna de ejercicios anteriores.</li>
          <li>Respetar las decisiones tomadas por la organización.</li>
        </ol>
      </div>
      <p class="regla-texto">En el caso de que uno o varios de los equipos  ganadores incumplan alguna de estas condiciones, el premio irá a los siguientes clasificados que sí los cumplan.</p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA IX – PENALIZACIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los tres últimos equipos de la liga deberán abonar  el doble de la inscripción, para la temporada siguiente, si quieren volver a  participar.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA X – CRITERIOS DE  DESEMPATE</p>
      <div class="hr"></div>
      <div>
        <div class="regla-subtitulo regla-titulo-margen" >Liga regular:</div>
        <p class="regla-texto">
          -> Si dos  equipos quedaran empatados al finalizar la liga regular, quedará por delante  aquel equipo que haya obtenido la puntuación más alta de los dos en una jornada  única de la liga.
        </p>
        <p class="regla-texto">
          -> Si  persistiera el empate se repartirá el premio o penalización que correspondiera  por partes iguales.
        </p>
        <div class="regla-subtitulo regla-titulo-margen" >Premios especiales:</div>
        <p class="regla-texto">
          -> En caso  de empate se utilizará el sorteo como criterio de desempate.
        </p>
      </div>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA XI – INFRACCIONES</p>
      <div class="hr"></div>
      <div>
        <p class="regla-texto">Se consideran faltas graves las siguientes:</p>
        <ol>
          <li>No pagar las cuotas en plazo</li>
          <li>Adeudar cantidades de ejercicios anteriores</li>
          <li>No respetar las reglas de la competición , ni los  dictámenes del <em>Juez Único</em>.</li>
          <li>La comisión de tres o más infracciones leves.</li>
        </ol>
      </div>
      <p class="regla-texto">Se consideran infracciones leves todas aquellas que no  tengan la consideración de graves.</p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA XII - SANCIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Por la comisión de <span style="text-decoration: underline;">infracciones graves</span>:
      </p>
      <p class="regla-texto regla-texto-margen">
        Pérdida de derecho a la percepción de premio alguno, así como la  imposibilidad de participar en la competición del año siguiente. La  regularización en el pago rehabilitará el derecho a participar en la  competición del año siguiente con plenitud de derechos.
      </p>
      <p class="regla-texto">
        Por la comisión de <span style="text-decoration: underline;">infracciones leves</span>:
      </p>
      <p class="regla-texto regla-texto-margen">
        Amonestacion verbal.
      </p>
    </div>

    <div class="content">
      <p class="regla-titulo">REGLA XIII – PROCEDIMIENTO  SANCIONADOR</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Se iniciará de oficio o a instancia de parte, los interesados  tendrán diez días naturales para realizar alegaciones y el<em> Juez Único</em> de  competición decidirá en los 10 días naturales siguientes, sin que quepa recurso  posterior alguno.
      </p>
    </div>

  </div>
</section>