<section class="section">
  <div class="h3 text-center my-3">REGLAMENTO INTERNO</div>
  <div id="contenedor-reglas" class="mb-5">
    <div class="content">
      <p class="regla-titulo">REGLA I - ÁMBITO</p>
      <div class="hr"></div>
      <p class="regla-texto">
        La "Opium League" es una competición entre amigos basada en FUTMONDO, los participantes se encuentran sometidos en primer lugar a lo dispuesto en el reglamento oficial publicado por el sitio web de FUTMONDO y en segundo lugar por las reglas que aquí se detallarán.</p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA II – FECHAS Y SISTEMA DE PUNTUACIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        El juego, como norma general, comenzará en la primera jornada en la que comience FUTMONDO, finalizando la última jornada del juego.
      </p>
      <p class="regla-texto">
        Por razones fundadas y con la finalidad de aumentar el número de participantes la competición podrá comenzar en una fecha posterior e incluso acabar en una fecha anterior.
      </p>
      <p class="regla-texto">
        Las únicas puntuaciones válidas son las oficialmente publicadas por FUTMONDO, a través de su sitio web. Más información: <br>
        <a href="https://help.futmondo.com/article/204-modo-prensa-liga-santander" target="_blank">https://help.futmondo.com/article/204-modo-prensa-liga-santander</a>
      </p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA III - NÚMERO DE PARTICIPANTES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        El número de participantes es ilimitado. No obstante la organización se reserva el derecho bien a limitar el número de participantes, o en su caso a crear una segunda liga, en el caso de que el número de participantes supere los 48.
      </p>
      <p class="regla-texto">
        Cada participante podrá inscribir <span style="font-weight: bold; text-decoration: underline;">únicamente un equipo</span> en la "Opium League", no pudiendo controlar ningún otro equipo ya sea de forma directa o indirecta. El incumplimiento de esta regla supondrá la expulsión y pérdida de los derechos a premios para los participantes y equipos implicados.
      </p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA IV – INSCRIPCIÓN</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los equipos participantes deberán abonar una cuota de inscripción de <span style="font-weight: bold; text-decoration: underline;">10€</span> por cada equipo que inscriban para poder participar. El pago deberá estar hecho al inicio del campeonato, salvo que causas justificadas lo impidan hacer en plazo. Las cantidades abonadas no son reembolsables en ningún caso.
      </p>
      <p class="regla-texto">
        En cualquier caso aquellos equipos que <span style="text-decoration: underline;">antes de las navidades</span> no se encuentren al corriente de pago serán expulsados de la competición, perdiendo su derecho a recibir cualquier premio, aún cuando paguen con posterioridad para regularizar su situación. El pago posterior únicamente habilita a seguir participando, pero sin derecho a premio.
      </p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA V – OTRAS COMPETICIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los equipos participantes en la liga "Opium League" participarán además en otras competiciones con el mismo equipo. Se tomarán las puntuaciones obtenidas en la "Opium League" para las diferentes fases y eliminatorias de dichas competiciones en base a un calendario de jornadas decidido al comienzo de la temporada.
      </p>

      <!-- Champions League -->
      <div class="regla-subtitulo regla-titulo-margen">Champions League:</div>
      <p class="regla-texto">
        Competición donde los participantes se enfrentarán siguiendo un formato similar al de la "Liga de Campeones" de la UEFA, contando con una primera fase de liguilla, para pasar a la fase de eliminatorias a ida y vuelta, salvo la final que será a partido único.
      </p>
      <p class="regla-texto">
        La jornada anterior al comienzo de la competición se realizará un SORTEO para encuadrar a los equipos en los diferentes grupos. Se tomará los primeros equipos de la clasificación de la "Opium League" de ese momento para decidir quiénes serán cabezas de serie no pudiendo estar en el mismo grupo de la fase de liguilla. Habrá tantos cabezas de serie como grupos haya.
      </p>
      <p class="regla-texto">
        A la FASE DE LIGUILLA pasarán los 32 equipos mejor clasificados en la "Opium League" repartiéndose en 8 grupos de 4 equipos. Si el número de participantes no alcanzase esa cifra se conformarán grupos teniendo en cuenta la totalidad de participantes con la única restricción que los grupos formados no podrán de tener menos de 4 equipos, lo cual puede limitar el número de grupos a formar.
      </p>
      <p class="regla-texto">
        En cuanto al calendario de las jornadas en la FASE DE LIGUILLA, éste será del mismo tipo asimétrico que el usado en la "Liga de Campeones" de la UEFA:
      </p>
      <div class="regla-texto">
        <div class="mt-2">JORNADA 1</div>
        <div>Equipo del Bombo A - Equipo del Bombo B</div>
        <div>Equipo del Bombo C - Equipo del Bombo D</div>
        <div class="mt-2">JORNADA 2</div>
        <div>Equipo del Bombo D - Equipo del Bombo A</div>
        <div>Equipo del Bombo B - Equipo del Bombo C</div>
        <div class="mt-2">JORNADA 3</div>
        <div>Equipo del Bombo C - Equipo del Bombo A</div>
        <div>Equipo del Bombo D - Equipo del Bombo B</div>
        <div class="mt-2">JORNADA 4</div>
        <div>Equipo del Bombo A - Equipo del Bombo C</div>
        <div>Equipo del Bombo B - Equipo del Bombo D</div>
        <div class="mt-2">JORNADA 5</div>
        <div>Equipo del Bombo B - Equipo del Bombo A</div>
        <div>Equipo del Bombo D - Equipo del Bombo C</div>
        <div class="mt-2">JORNADA 6</div>
        <div>Equipo del Bombo C - Equipo del Bombo B</div>
        <div>Equipo del Bombo A - Equipo del Bombo D</div>
      </div>
      
      <p class="regla-texto mt-4">
        A la FASE DE ELIMINATORIAS pasarán los equipos clasificados en la 1º y 2º posición de sus respectivos grupos. Los cruces serán:
      </p>
      <div class="regla-texto">
        <div class="mt-2">Rama IZQUIERDA del cuadro:</div>
        <div>1º A - 2º H</div>
        <div>1º B - 2º G</div>
        <div>1º C - 2º F</div>
        <div>1º D - 2º E</div>
        <div class="mt-2">Rama DERECHA del cuadro:</div>
        <div>1º H - 2º A</div>
        <div>1º G - 2º B</div>
        <div>1º F - 2º C</div>
        <div>1º E - 2º D</div>
      </div>

      <!-- Europa League -->
      <div class="regla-subtitulo regla-titulo-margen">Europa League:</div>
      <p class="regla-texto">
        Estará conformada por aquellos equipos clasificados a partir de la posición 33º de la clasificación general en la "Opium League" al término de la jornada anterior al sorteo de la FASE DE LIGUILLA de la CHAMPIONS LEAGUE.
        A esos equipos se añadirán los 16 eliminados de la fase de grupos de la "CHAMPIONS LEAGUE".
      </p>
      <p class="regla-texto">
        El número de rondas (1/16 de final, 1/32 de final...) se decidirá en base al número de equipos inscritos en esa temporada con la única finalidad que asegurar que puedan disputar la competición todos los equipos que cumplan los requisitos.
      </p>
      <p class="regla-texto">
        Si no hubiese más de 32 equipos en la OPIUM LEAGUE se conformará exclusivamente con aquellos equipos que sean eliminados de la fase de grupos de la "CHAMPIONS LEAGUE". 
      </p>
      <p class="regla-texto">
        A modo de <strong>EJEMPLO</strong> estos podrían ser los cruces con 40 equipos inscritos:
      </p>
      <p class="regla-texto"> 
        La PRIMERA RONDA (1/16 de Final) enfrentará a los 8 equipos clasificados directos (sin pasar por la Champions) con los 8 equipos que ocuparon la última posición (posición 4º) de cada uno de sus grupos, provenientes de la fase de grupos de la Champions.<br>
        4º grupo A - 33º clasificado (Eliminatoria 1)<br>
        4º grupo B - 34º clasificado (Eliminatoria 2)<br>
        4º grupo C - 35º clasificado (Eliminatoria 3)<br>
        4º grupo D - 36º clasificado (Eliminatoria 4)<br>
        4º grupo E - 37º clasificado (Eliminatoria 5)<br>
        4º grupo F - 38º clasificado (Eliminatoria 6)<br>
        4º grupo G - 39º clasificado (Eliminatoria 7)<br>
        4º grupo H - 40º clasificado (Eliminatoria 8)<br>
      </p>
      <p class="regla-texto">
        La SEGUNDA RONDA (1/8 de Final) enfrentará a los 8 equipos clasificados de la PRIMERA RONDA con los 8 equipos que ocuparon la 3º posición provenientes de la fase de grupos de la Champions.<br>
        3º grupo H - Ganador Eliminatoria 1<br>
        3º grupo G - Ganador Eliminatoria 2<br>
        3º grupo F - Ganador Eliminatoria 3<br>
        3º grupo E - Ganador Eliminatoria 4<br>
        3º grupo D - Ganador Eliminatoria 5<br>
        3º grupo C - Ganador Eliminatoria 6<br>
        3º grupo B - Ganador Eliminatoria 7<br>
        3º grupo A - Ganador Eliminatoria 8<br>
      </p>
      <p class="regla-texto">
        Toda la competición se jugará a eliminatorias a ida y vuelta, salvo la final que será a partido único.
      </p>
      
      <!-- FO Cup -->
      <div class="regla-subtitulo regla-titulo-margen">FO Cup (Futmondo Opium Cup):</div>
      <p class="regla-texto">
        Competición bajo el soporte de FUTMONDO en su modo Copa, que enfrentará a los participantes de la "Opium League" mediante eliminatorias directas a ida y vuelta, <span style="text-decoration: underline;">incluída la final</span>.
      </p>
      <p class="regla-texto">
        La jornada anterior al comienzo de la competición se realizará un sorteo para encuadrar a los equipos en los diferentes cruces.
      </p>
      
      <!-- Supercopa de Europa -->
      <div class="regla-subtitulo regla-titulo-margen">Supercopa de Europa:</div>
      <p class="regla-texto">
        Competición en la que participarán los campeones de "Champions League" y "Europa League" de la temporada anterior a partido único.
      </p>
      
      <!-- Supercopa de España -->
      <div class="regla-subtitulo regla-titulo-margen">Supercopa de España:</div>
      <p class="regla-texto">
        Competición en la que participarán los dos equipos finalistas de la "FO Cup" y el campeón y subcampeón de la "Opium League" de la temporada anterior.
      </p>
      <p class="regla-texto">
        Se jugarán unas semifinales y final ambas a partido único. En las semifinales juegan el campeón de "FO Cup" contra el subcampeón de "Opium League" y el campeón de "Opium League" contra el subcampeón de la "FO Cup".
      </p>
      <p class="regla-texto">
        En caso de coincidencia, accederá a la Supercopa el equipo o equipos mejor clasificado/s en la "Opium League" que no haya disputado la final de la "FO Cup". En este caso los emparejamientos de semifinales serán el campeón de la Opium League contra el peor clasificado de todos y el subcampeón contra el equipo restante.
      </p>

      <!-- Supercopa Opium -->
      <div class="regla-subtitulo regla-titulo-margen">Supercopa Opium:</div>
      <p class="regla-texto">
        Competición en la que participarán los campeones de Liga, FO Cup, Champions y Europa League de la temporada anterior.
      </p>
      <div class="regla-texto">
        Se jugarán unas semifinales y final ambas a partido único. En las semifinales juegan:
        <div class="mt-1">Camp. Opium League - Camp. Europa League<br>
        Camp. Champions League - Camp. FO Cup</div>
      </div>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA VI – ÁRBITRO VAR</p>
      <div class="hr"></div>
      <p class="regla-texto">
        La interpretación de este reglamento, así como las controversias que surjan a lo largo de la competición, será realizado por un jurista en ejercicio ajeno a la organización, sometiéndose las partes a su dictamen, no cabiendo ningún tipo de recurso posterior.
      </p>
      <p class="regla-texto">
        El letrado <span style="text-decoration: underline; font-style: italic;">Iván Pedrejón de la Parte</span> ejercerá esta función durante la vigencia de este reglamento.
      </p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA VII – PREMIOS</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los premios de cada competición consistirán en:
      </p>

      <!-- Opium League -->
      <div class="regla-subtitulo regla-titulo-margen">Opium League:</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago de los siguientes porcentajes sobre el total recaudado <span style="text-decoration: underline;">una vez descontadas las cantidades del resto de competiciones y de los Premios Especiales (85€)</span>:
      </p>
      <p class="regla-texto regla-texto-margen">1º Clasificado - 30% del restante y <span style="text-decoration: underline;">*Premio Supercampeón INFICAN</span></p>
      <p class="regla-texto regla-texto-margen">2º Clasificado - 20% del restante</p>
      <p class="regla-texto regla-texto-margen">3º Clasificado - 15% del restante</p>
      <p class="regla-texto regla-texto-margen">4º Clasificado - 8% del restante</p>
      <p class="regla-texto regla-texto-margen">5º Clasificado - 5% del restante</p>
      <p class="regla-texto regla-texto-margen">6º Clasificado - 5% del restante</p>
      <p class="regla-texto regla-texto-margen">7º Clasificado - 5% del restante</p>
      <p class="regla-texto regla-texto-margen">8º Clasificado - 4% del restante</p>
      <p class="regla-texto regla-texto-margen">9º Clasificado - 4% del restante</p>
      <p class="regla-texto regla-texto-margen">10º Clasificado - 4% del restante</p>
      <p class="regla-texto regla-texto-margen">** A partir del 10º se podrá aplicar el <span style="text-decoration: underline;">Premio Especial INFICAN VIAJES</span></p>

      <!-- Champions League -->
      <div class="regla-subtitulo regla-titulo-margen">Champions League:</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 35€ al campeón.
      </p>

      <!-- Europa League -->
      <div class="regla-subtitulo regla-titulo-margen">Europa League:</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 15€ al campeón.
      </p>

      <!-- FO Cup -->
      <div class="regla-subtitulo regla-titulo-margen">FO Cup (Futmondo Opium Cup):</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 15€ al campeón.
      </p>

      <!-- Opium Cup -->
      <div class="regla-subtitulo regla-titulo-margen">Supercopas (España, Europa y Opium):</div>
      <p class="regla-texto regla-texto-margen">
        Estas competiciones <span style="text-decoration: underline;">NO</span> tienen asignado premio económico, sólo serán un reconocimiento deportivo.
      </p>

      
      <div class="regla-subtitulo regla-titulo-margen">Premios Especiales:</div>
      <!-- Premio Supercampeón INFICAN VIAJES -->
      <div class="regla-subtitulo regla-texto-margen">*Premio Supercampeón INFICAN VIAJES</div>
      <p class="regla-texto regla-texto-margen">
        -> Por gentileza de <span style="text-decoration: underline;">INFICAN VIAJES</span>, al premio del ganador de la "Opium League" se le añadirán <span style="text-decoration: underline;">30€</span>
      </p>
      <!-- Premio Especial INFICAN VIAJES -->
      <div class="regla-subtitulo regla-texto-margen">*Premio Especial INFICAN VIAJES</div>
      <div class="regla-texto regla-texto-margen">
        <div class="mb-2">
          -> Por gentileza de <span style="text-decoration: underline;">INFICAN VIAJES</span>, la agencia de viajes oficial de la "Opium League", por cada reserva que se realice durante la temporada por parte de cualquier participante, familiar o amigo en <span style="text-decoration: underline;">INFICAN VIAJES</span> por importe superior a 150€ (Reservas de sólo autobús o sólo tren excluídos), éste premiará con 10€ a la siguiente posición de la clasificación general de Opium League que <span style="text-decoration: underline;">no</span> tenga premio.
        </div>
        <div class="h6">-> ¡¡Cuantas más reservas se realicen más puestos tendrán premio!!.</div>
      </div>
      <!-- Premio Regularidad -->
      <div class="regla-subtitulo regla-texto-margen">*Premio Regularidad</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 10€ al equipo que gane más jornadas individuales en la "Opium League" a lo largo de la temporada. Este premio se otorga al final de la temporada.
      </p>
      <!-- Premio Jornada Top -->
      <div class="regla-subtitulo regla-texto-margen">*Premio Jornada Top</div>
      <p class="regla-texto regla-texto-margen">
        El premio consistirá en el pago en metálico de 10€ al equipo que haya obtenido la puntuación más alta de todos los participantes en una jornada en la "Opium League". Este premio se otorga al final de la temporada.
      </p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA VIII – REQUISITOS PARA LA RECEPCIÓN DE LOS PREMIOS</p>
      <div class="hr"></div>
      <div>
        <p class="regla-texto">Serán condiciones para recibir premios:</p>
        <ol class="mb-2">
          <li>Estar al corriente de los pagos con la organización dentro de las fechas señaladas en la Regla IV.</li>
          <li>No adeudar cantidad alguna de ejercicios anteriores.</li>
          <li>Respetar las decisiones tomadas por la organización.</li>
        </ol>
      </div>
      <p class="regla-texto">En el caso de que uno o varios de los equipos ganadores incumplan alguna de estas condiciones, el premio irá a los siguientes clasificados que sí los cumplan.</p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA IX – CRITERIOS DE DESEMPATE</p>
      <div class="hr"></div>
      <div>
        <div class="regla-subtitulo regla-titulo-margen">Opium League:</div>
        <p class="regla-texto ml-4">
          -> Si dos o más equipos quedaran empatados al finalizar la temporada y fuese necesario decidir las posiciones, quedará por delante aquel equipo que haya obtenido la puntuación más alta de los dos en una jornada única.
        </p>
        <div class="regla-texto ml-4">
          -> En el caso de tener que desempatar en una jornada en concreto, se decidirá en base a los siguientes criterios:
          <ol class="mb-2">
            <li>Aquel equipo cuyos jugadores que hayan marcado más goles en la jornada</li>
            <li>De persistir el empate, el que haya recibido menos goles</li>
            <li>Si continuara persistiendo el empate el que tenga el jugador con mejor puntuación en esa jornada.</li>
            <li>Si todo lo anterior no permitiese dilucidar al ganador de la jornada se utilizará el sorteo como criterio de desempate.</li>
          </ol>
        </div>
        <p class="regla-texto ml-4">
          -> Si persistiera el empate se repartirá el premio que correspondiera por partes iguales.
        </p>

        <div class="regla-subtitulo regla-titulo-margen">Champions League:</div>
        <p class="regla-texto ml-4">
          -> Si dos o más equipos quedaran empatados al finalizar la fase de liguilla, quedará por delante aquel equipo que haya obtenido una mejor diferencia de puntos entre el total de puntos a favor y en contra.
        </p>
        <p class="regla-texto ml-4">
          -> Si persistiera el empate quedará por delante aquel equipo que haya obtenido la puntuación más alta en las jornadas en las que ha tenido lugar la liguilla.
        </p>

        <div class="regla-subtitulo regla-titulo-margen">FO Cup y Europa League (cruces)</div>
        <p class="regla-texto ml-4">
          El usuario que haya conseguido mayor puntuación en una de las jornadas del enfrentamiento será el que pase. Ejemplo:
        </p>
        <ul class="mb-2">
          <li>Primer partido: Usuario A= 80 puntos / Usuario B= 50 puntos</li>
          <li>Segundo partido: Usuario A= 40 puntos / Usuario B= 70 puntos</li>
        </ul>
        <p class="regla-texto ml-4">
          -> El usuario A será el que pase a la siguiente ronda ya que ha conseguido la puntuación más alta en uno de los enfrentamientos (80 puntos)
        </p>
        <p class="regla-texto ml-4">
          -> En el caso de que ambos equipos obtuvieran las mismas puntuaciones tanto en la ida como en la vuelta pasará de ronda aquel equipo que haya obtenido la puntuación más alta en su partido como visitante.
        </p>
        <p class="regla-texto ml-4">
          -> Si continuara persistiendo el empate pasará de ronda el equipo que tenga el jugador con mejor puntuación de toda la eliminatoria.
        </p>
        <p class="regla-texto ml-4">
          -> Si todo lo anterior no permitiese dilucidar al ganador de la jornada se utilizará el sorteo como criterio de desempate.
        </p>
        <!-- <div class="regla-subtitulo regla-titulo-margen">Mejores terceros:</div>
        <p class="regla-texto ml-4">
          -> Si en la temporada fuese necesario calcular cuáles son los mejores terceros clasificados, los criterios de desempate serán análogos a los de la liguilla.
        </p> -->

        <div class="regla-subtitulo regla-titulo-margen">Supercopas (Europa, España y Opium) y finales a un partido (Champions League y Europa League)</div>
        <p class="regla-texto ml-4">
          El usuario que haya conseguido mayor puntuación en una de las jornadas del enfrentamiento será el que pase. Ejemplo:
        </p>
        <ul class="mb-2">
          <li>Primer partido: Usuario A= 80 puntos / Usuario B= 50 puntos</li>
          <li>Segundo partido: Usuario A= 40 puntos / Usuario B= 70 puntos</li>
          <li>El usuario A será el que pase a la siguiente ronda ya que ha conseguido la puntuación más alta en uno de los enfrentamientos (80 puntos)</li>
          <li>En caso de empate a puntos a todo, el azar será quien decida</li>
        </ul>

        <div class="regla-subtitulo regla-titulo-margen">Premios especiales:</div>
        <p class="regla-texto">
          -> (Ver REGLA VII – PREMIOS) En caso  de empate se repartirá el premio entre los equipos empatados.
        </p>
      </div>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA X – INFRACCIONES</p>
      <div class="hr"></div>
      <div>
        <p class="regla-texto">Se consideran infracciones graves las siguientes:</p>
        <ol class="mb-2">
          <li>No pagar las cuotas en plazo</li>
          <li>Adeudar cantidades de ejercicios anteriores</li>
          <li>No respetar las reglas de la competición, ni los  dictámenes del <span style="font-weight: bold; text-decoration: underline;">Árbitro VAR</span>.</li>
          <li>La comisión de tres o más infracciones leves.</li>
        </ol>
      </div>
      <p class="regla-texto">Se consideran infracciones leves todas aquellas que no tengan la consideración de graves.</p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA XI - SANCIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Por la comisión de <span style="text-decoration: underline;">infracciones graves</span>:
      </p>
      <p class="regla-texto regla-texto-margen">
        Pérdida de derecho a la percepción de premio alguno, así como la imposibilidad de participar en la competición del año siguiente. La regularización en el pago rehabilitará el derecho a participar en la competición del año siguiente con plenitud de derechos.
      </p>
      <p class="regla-texto">
        Por la comisión de <span style="text-decoration: underline;">infracciones leves</span>:
      </p>
      <p class="regla-texto regla-texto-margen">
        Amonestacion verbal.
      </p>
    </div>


    <div class="content">
      <p class="regla-titulo">REGLA XII – PROCEDIMIENTO SANCIONADOR</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Se iniciará de oficio o a instancia de parte, los interesados tendrán diez días naturales para realizar alegaciones y el <span style="font-weight: bold; text-decoration: underline;">Árbitro VAR</span> decidirá en los 10 días naturales siguientes, sin que quepa recurso posterior alguno.
      </p>
    </div>


    <!-- <div class="content">
      <p class="regla-titulo">REGLA IX – PENALIZACIONES</p>
      <div class="hr"></div>
      <p class="regla-texto">
        Los tres últimos equipos de la "Opium League" deberán abonar  el doble de la inscripción, para la temporada siguiente, si quieren volver a  participar.
      </p>
    </div> -->

  </div>
</section>