p{
 margin-bottom: 0.5rem !important;
}

#contenedor-reglas{
  width: 95%;
  height: 100%;
  color: #FFF;
  background-color: #2FB101;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  margin: 0px auto;
}

#contenedor-reglas p{
  /*margin: 1px 1px 15px 1px;*/
  text-align: justify;
}

#contenedor-reglas ol{
  margin: 1px 1px 1px 30px;
  color: #FFF;
  text-align: justify;
}

#contenedor-reglas li{
  font-size: 0.8rem;
}

.regla-titulo{
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: #000 !important;
  text-align: left !important;
  margin: 10px 1px 1px 1px;
}

.regla-subtitulo{
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  color: #000 !important;
  margin: 10px 1px 1px 1px;
}

.regla-texto{
  font-size: 0.8rem;
  margin: 1px 1px 1px 15px;
}

.regla-titulo-margen{
  margin: 5px 1px 1px 5px;
}

.regla-texto-margen{
  margin: 1px 1px 1px 20px;
}

div .hr{
  height: 1px;
  background: #fff;
  margin-top: 3px;
  margin-bottom: 10px;
}