<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand d-lg-none d-block" [routerLink]="['/']">
    <img src="./assets/banner_opium.png" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/']">
          <span><i class="fas fa-home"></i></span>
          <span> Home <span class="sr-only">(current)</span></span>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/table']">
          <span><i class="fas fa-table"></i></span>
          <span> Clasificación</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/charts']">
          <span><i class="fas fa-chart-area"></i></span>
          <span> Gráficos</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/competitions']">
          <span><i class="fas fa-trophy"></i></span>
          <span> Competiciones</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/rules']">
          <span><i class="fas fa-file-alt"></i></span>
          <span> Reglamento</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/gallery']">
          <span><i class="fas fa-user-circle"></i></span>
          <span> Participantes</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkAtive="active">
        <a class="nav-link" style="font-size: 1.1em;" [routerLink]="['/history']">
          <span><i class="fas fa-university"></i></span>
          <span> Historia</span>
        </a>
      </li>
    </ul>
  </div>
</nav>