a {
  color: #000 !important;
  text-decoration: none !important;
}

.no-data {
  width: 30%;
  margin: 0 auto;
}

/*GRAFICOS*/
.fa-exchange-alt {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-trophy-down {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

img.charts-foto {
  width: 200px;
  vertical-align: middle; }

@media (max-width: 576px) {
  .fa-trophy-down {
    margin-top: 25px;
  }
}

@media (min-width: 576px) {
  .no-data {
    width: 40%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {  
  .no-data {
    width: 20%;
    margin: 0 auto;
  }
}