#contenedor{
  width: 95%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background-color: #2FB101;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
}

.subcontenedor{
  background-color: #FFF;
  text-align: center;
  display: inline-table;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin: 5px;
  padding: 4px;
  border: 1px solid;
  font-size: 0.8rem;
}

img.foto {
  width: 9rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
