<section id="profile" class="section">
  <!-- HEADER -->
  <header class="header">
    <div class="container-fluid px-3">
      <div class="row">
        <div class="col-sm-12">
          <div class="h3"><strong>{{player.team}}</strong></div>
        </div>
      </div>

      <div class="row" style="margin-top: 0px;">
        <div class="col-sm-3 text-center">
          <img class="" src="assets/img/shields/300/{{player.images.shield}}" title="{{player.team}}" alt="{{player.team}}" >
        </div>

        <div class="col-sm-9 col-lg-6">
          <h6>RESUMEN TEMPORADA</h6>
          <div class="row">
            <div class="col-md-3 col-6 puntajes"><div class="numero">{{player.score_general}}</div> <span>pts totales</span></div>
            <div class="col-md-3 col-6 puntajes"><div class="numero">{{player.score_best}}</div> <span>pts máx</span></div>
            <div class="col-md-3 col-6 puntajes"><div class="numero"><img src="assets/img/cups/liga.png" style="height: 30px; position: relative; top: -4px;"> {{player.top_clasificacion}}</div> <span>jor líder</span></div>
            <div class="col-md-3 col-6 puntajes"><div class="numero"><i class="fas fa-medal"></i> {{player.top_jornada}}</div> <span>jor ganadas</span></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-6 puntajes"><div class="numero"><i class="fas fa-upload"></i> {{player.positions_general_min}}</div> <span>mejor pos</span></div>
            <div class="col-md-3 col-6 puntajes"><div class="numero"><i class="fas fa-download"></i> {{player.positions_general_max}}</div> <span>peor pos</span></div>
            <div class="col-md-3 col-6 puntajes"><div class="numero"><i class="fas fa-chevron-up fa-lg" style="color: #019700;"></i> {{player.positions_general_differences_max}}</div> <span>máx subida</span></div>
            <div class="col-md-3 col-6 puntajes"><div class="numero"><i class="fas fa-chevron-down fa-lg" style="color: #BE1501;"></i> {{player.positions_general_differences_min}}</div> <span>máx caída</span></div>
          </div>
          <div class="row my-3">
            <div class="col">
              <div class="h6 text-left">PARTICIPACIONES: {{player.seasons.length}} Temporadas</div>
              <div class="text-center">
                <span *ngFor="let temporada of player.seasons" style="display: inline-block;">
                  <div class="temporada">{{temporada}}</div>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-lg-6 mt-3">
              <h6>TROFEOS: {{player.trophies.total}} Títulos</h6>
              <div *ngIf="player.trophies.total > 0">
                <span *ngFor="let trofeo of player.trophies_profile" style="text-align: center;">
                  <img src="assets/img/cups/{{ trofeo.kind }}.png" class="profile-trophy" title="{{ trofeo.title | titlecase }}" alt="{{ trofeo.title | titlecase }}" >
                  </span>
              </div>
            </div>

            <div class="col-sm-9 col-lg-6 my-3">
              <h6>PREMIOS: {{player.awards.total}} Distinciones</h6>
              <div *ngIf="player.awards.total > 0">
                <span *ngFor="let premio of player.awards_profile" style="text-align: center;">
                  <i class="{{ premio.kind }} fa-2x mr-2" title="{{ premio.title }}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 d-none d-lg-block">
          <img class="rounded-circle text-center" src="assets/img/players/{{player.images.profile}}" title={{player.name}} alt={{player.name}} >
        </div>
      </div>
    </div>
  </header>

  <!-- MÁS INFO -->
  <div class="container-fluid">
    <!-- BIO -->
    <!-- <div class="row my-3">
      <div class="col-md-12">
        <div class="card card-block text-xs-left p-3">
          <h5><i class="fa fa-user fa-fw"></i>Biography</h5>
            <p>Rick Sanchez C-137 is the father of Beth Smith, and the grandfather of Morty and Summer Smith. Aged 60 years old, he is said to have been away from the family for around fourteen years prior to the events of the show's first episode, "Pilot". He frequently travels on adventures through space and other planets and dimensions with his grandson Morty.</p>
        </div>
      </div>
    </div> -->

    <!-- ESTADIO y EQUIPACIONES -->
    <div class="row my-3">
      <!-- Estadio -->
      <div class="col-md-12 col-lg-6 text-center mb-3">
        <div class="h4">ESTADIO</div>
        <!-- <img class="stadium" src="https://www.abc.net.au/news/image/10882646-3x2-700x467.jpg" alt=""> -->
        <img class="stadium" src="assets/img/stadiums/{{player.images.stadium}}" alt="{{player.team}} stadium">
        <div class="h6 mt-2">{{player.stadium}}</div>
      </div>
      <!-- Equipaciones -->
      <div class="col-md-12 col-lg-6 text-center">
        <div class="h4">EQUIPACIÓN</div>
        <img class="strip mr-4" src="assets/img/teamstrips/{{player.images.team_strip_front}}" alt="{{player.team}} strip front">
        <img class="strip" src="assets/img/teamstrips/{{player.images.team_strip_back}}" alt="{{player.team}} strip back">
      </div>
    </div>

    <!-- GRAFICOS  -->
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card card-block">
          <span class="text-center"><div [chart]="points_chart"></div></span>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card card-block">
          <span class="text-center"><div [chart]="positions_chart"></div></span>
        </div>
      </div>
    </div>
  </div>
</section>