/* INDEX */
.trans-background {
  color: #FFF;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.jumbotron{
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  text-align: center;
  position: relative;
  height: 130vh;
  background: url('/assets/img/background.png') center no-repeat;
  background-size: cover;
  padding: 15px 0 0 0;
}

#countdown{
  text-align: center;
  font-size: 1.5rem;
  margin-top:0px;
}

img.shield {
  width: 4rem !important;
  height: 4rem !important;
}



@media (min-width: 576px) {
  .jumbotron{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    text-align: center;
    position: relative;
    height: 110vh;
    background: url('/assets/img/background.png') center no-repeat;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .jumbotron{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    text-align: center;
    position: relative;
    height: 78vh;
    background: url('/assets/img/background.png') center no-repeat;
    background-size: cover;
  }
  img.shield {
    width: 6rem !important;
    height: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .jumbotron{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    text-align: center;
    position: relative;
    height: 125vh;
    background: url('/assets/img/background.png') center no-repeat;
    background-size: cover;
  }
  img.shield {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    width: 8rem !important;
    height: 8rem !important;
  }
}
